[2016-12-08 22:06] #6859 closed

[2016-12-08 22:09] chrisroberts commented on #6941
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-08 22:09] #6941 closed

[2016-12-08 22:10] chrisroberts commented on #6946
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-08 22:10] #6946 closed

[2016-12-08 22:13] chrisroberts commented on #7055
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-08 22:13] #7055 closed

[2016-12-08 22:14] chrisroberts commented on #7068
@dwickern Can you confirm if this is still an issue with the latest release of Vagrant? Thanks!

[2016-12-08 22:37] chrisroberts commented on #7113
This looks to be an upstream bug within VirtualBox. More information can be found here:

https://www.virtualbox.org/ticket/13187

Cheers!

[2016-12-08 22:37] #7113 closed

[2016-12-08 22:39] chrisroberts commented on #7131
Hey there,

I am going to close this due to lack of response. If this is still occurring, please open a [_new issue_](https://github.com/mitchellh/vagrant/issues/new) and follow the provided issue template that appears when you click the "New Issue" button. This will help us in getting a reproduction and fix. Thanks! 😄

[2016-12-08 22:39] #7131 closed

[2016-12-08 22:41] joelpittet commented on #8096
@andyshinn I tried this out (built vagrant and reverse patched it on master) and all went good. I'm going to try without the reverse patch too.

[2016-12-08 22:45] chrisroberts commented on #7199
Hi. The error is occurring due to this invalid line in your Vagrantfile:

[code]

Cheers!

[2016-12-08 22:45] #7199 closed

[2016-12-08 22:47] chrisroberts commented on #7238
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-08 22:47] #7238 closed

[2016-12-08 22:50] chrisroberts commented on #7319
With the shared folder being on windows, instructing the provider to set it as readonly seems like the most straightforward solution. If you would like to propose a different strategy in a PR I'd be happy to have a look. Thanks!

[2016-12-08 22:50] #7319 closed

[2016-12-08 22:51] chrisroberts commented on #7320
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-08 22:51] #7320 closed

[2016-12-08 22:55] chrisroberts commented on #7390
@hjchin Are you still experiencing this issue?

[2016-12-08 22:58] chrisroberts commented on #7512
@mimo-lukacka Can you provide gists of debug logs showing this behavior on latest version of Vagrant?

[2016-12-08 23:04] chrisroberts commented on #7521
@0re1 Is this behavior still being seen in the latest release of Vagrant?

[2016-12-08 23:07] chrisroberts commented on #7525
@TheEvilMonkey Can you confirm if you are still experiencing this behavior on the latest version of Vagrant? If so, please include include a new gist of the debug output from a `vagrant up`. Thanks!

[2016-12-08 23:09] chrisroberts commented on #7541
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-08 23:09] #7541 closed

[2016-12-08 23:16] joelpittet commented on #8096
Yup, you've found the regression for sure. Undoing the patch pumps out that error.

[2016-12-08 23:21] gravyboat commented on #7541
No worries, I swapped off using this functionality months ago because it wasn't working, if I circle back around at some point in the future and it still doesn't work I'll reopen this issue.

[2016-12-08 23:38] chrisroberts commented on #7665
@bgblanch Can you confirm if this is still an issue within the latest vagrant release? Thanks!

[2016-12-08 23:41] chrisroberts commented on #7649
The problem here is that the `vconfig` variable being used within your Vagrantfile is not defined. This is causing errors to be generated when Vagrant attempts to load it. Cheers!

[2016-12-08 23:41] #7649 closed

[2016-12-08 23:45] chrisroberts commented on #7678
@Fuzzyma Can you confirm if this behavior persists in the latest Vagrant release, and if so provide a full `--debug` gist? Thanks!

[2016-12-08 23:47] chrisroberts commented on #7682
Closing as fixed using `box_url` with `box` to define name.

[2016-12-08 23:47] #7682 closed

[2016-12-08 23:48] chrisroberts commented on #2503
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-08 23:48] #2503 closed

[2016-12-08 23:52] chrisroberts commented on #3895
Hi there,

We would really like this, but this issue has been open for over a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-08 23:52] #3895 closed

[2016-12-08 23:53] chrisroberts commented on #4241
Hi there,

We would really like this, but this issue has been open for over a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-08 23:53] #4241 closed

[2016-12-08 23:55] chrisroberts commented on #4680
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-08 23:55] #4680 closed

[2016-12-08 23:55] chrisroberts commented on #4737
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-08 23:55] #4737 closed

[2016-12-08 23:56] chrisroberts commented on #4741
Hi there,

We would really like this, but this issue has been open for over a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-08 23:56] #4741 closed

[2016-12-08 23:57] chrisroberts commented on #4849
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-08 23:57] #4849 closed

[2016-12-08 23:58] chrisroberts commented on #5005
Hi there,

We would really like this, but this issue has been open for over a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-08 23:58] #5005 closed

[2016-12-09 00:01] chrisroberts commented on #5029
Hi there,

We would really like this, but this issue has been open for over a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-09 00:01] #5029 closed

[2016-12-09 00:04] chrisroberts commented on #5522
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:04] #5522 closed

[2016-12-09 00:04] chrisroberts commented on #5722
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-09 00:04] #5722 closed

[2016-12-09 00:05] chrisroberts commented on #5788
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:05] #5788 closed

[2016-12-09 00:06] chrisroberts commented on #5850
Hi there,

We would really like this, but this issue has been open for over a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-09 00:06] #5850 closed

[2016-12-09 00:12] chrisroberts commented on #7106
@langdead Can you confirm if you are still experiencing this behavior on the latest release of Vagrant? If so, can you please provide a gist of the `--debug` output. Thanks!

[2016-12-09 00:13] chrisroberts commented on #5945
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:13] #5945 closed

[2016-12-09 00:13] chrisroberts commented on #6000
Hi there,

We would really like this, but this issue has been open for over a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-09 00:13] #6000 closed

[2016-12-09 00:14] chrisroberts commented on #6077
Hey there,

I am going to close this due to lack of response. If this is still occurring, please open a [_new issue_](https://github.com/mitchellh/vagrant/issues/new) and follow the provided issue template that appears when you click the "New Issue" button. This will help us in getting a reproduction and fix. Thanks! 😄

[2016-12-09 00:14] #6077 closed

[2016-12-09 00:16] chrisroberts commented on #6086
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:16] #6086 closed

[2016-12-09 00:16] #6129 closed

[2016-12-09 00:17] chrisroberts commented on #6158
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-09 00:17] #6158 closed

[2016-12-09 00:19] chrisroberts commented on #6207
@DanHam 's comment sums this up pretty nicely: https://github.com/mitchellh/vagrant/issues/6207#issuecomment-234332985

I'm going to close this up. If the behavior is still seen with properly configured guests, please open a new issue. Thanks!

[2016-12-09 00:19] #6207 closed

[2016-12-09 00:21] chrisroberts commented on #6273
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:21] #6273 closed

[2016-12-09 00:26] chrisroberts commented on #6358
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:26] #6358 closed

[2016-12-09 00:27] chrisroberts commented on #6381
Hi there,

We would really like this, but this issue has been open for over a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-09 00:27] #6381 closed

[2016-12-09 00:28] chrisroberts commented on #6461
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:28] #6461 closed

[2016-12-09 00:28] chrisroberts commented on #6486
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:28] #6486 closed

[2016-12-09 00:29] chrisroberts commented on #6503
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:29] #6503 closed

[2016-12-09 00:30] chrisroberts commented on #6549
I do believe that is the case and you will need to explicitly exit with an exit code assigned. If you find that is not the case and Vagrant is not handling the result correctly, please feel free to reopen this issue. Thanks!

[2016-12-09 00:30] #6549 closed

[2016-12-09 00:31] chrisroberts commented on #6609
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:31] #6609 closed

[2016-12-09 00:31] chrisroberts commented on #6634
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:31] #6634 closed

[2016-12-09 00:32] chrisroberts commented on #6635
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:32] #6635 closed

[2016-12-09 00:33] chrisroberts commented on #6663
Looks like a proper fix is described here: https://github.com/mitchellh/vagrant/issues/6663#issuecomment-235459323

Cheers!

[2016-12-09 00:33] #6663 closed

[2016-12-09 00:34] chrisroberts commented on #6676
Hi there,

We would really like this, but this issue has been open for over a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-09 00:34] #6676 closed

[2016-12-09 00:35] chrisroberts commented on #6677
Closing this as root cause seems to be configuration error. If the behavior persists, please feel free to open a new issue. Cheers!

[2016-12-09 00:35] #6677 closed

[2016-12-09 00:35] chrisroberts commented on #6687
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:35] #6687 closed

[2016-12-09 00:36] chrisroberts commented on #6719
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:36] #6719 closed

[2016-12-09 00:36] chrisroberts commented on #6738
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:36] #6738 closed

[2016-12-09 00:36] chrisroberts commented on #6739
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:36] #6739 closed

[2016-12-09 00:39] chrisroberts commented on #6759
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:40] chrisroberts commented on #6768
Hi there,

We would really like this, but this issue has been open for over a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-09 00:40] #6768 closed

[2016-12-09 00:42] chrisroberts commented on #6781
Hi there,

We would really like this, but this issue has been open for almost a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-09 00:42] #6781 closed

[2016-12-09 00:44] chrisroberts commented on #6788
Closing this now as it seems to be mainly related to non-standard installation issues and local configurations. If the problem persists, please open a new issue. Thanks!

[2016-12-09 00:50] chrisroberts commented on #6814
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-09 00:50] #6814 closed

[2016-12-09 00:51] chrisroberts commented on #6815
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-09 00:51] #6815 closed

[2016-12-09 00:52] chrisroberts commented on #6819
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:52] #6819 closed

[2016-12-09 00:53] chrisroberts commented on #6821
Closing this as covered by other open issues

[2016-12-09 00:53] #6821 closed

[2016-12-09 00:54] chrisroberts commented on #6841
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 00:54] #6841 closed

[2016-12-09 00:57] chrisroberts commented on #6846
Setting a provider in the Vagrantfile, even if not configuring it, will default Vagrant to that provider as seen: https://github.com/mitchellh/vagrant/issues/6846#issuecomment-181525653

[2016-12-09 00:57] #6846 closed

[2016-12-09 01:01] chrisroberts commented on #6864
Closing this as it looks to be a local configuration issue.

[2016-12-09 01:01] #6864 closed

[2016-12-09 01:02] chrisroberts commented on #6873
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 01:02] #6873 closed

[2016-12-09 01:02] chrisroberts commented on #6889
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 01:02] #6889 closed

[2016-12-09 01:03] chrisroberts commented on #6916
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 01:03] #6916 closed

[2016-12-09 01:04] chrisroberts commented on #6919
Closing this as it was an ssh installation problem. Other issues are already open around embedded ssh client. Cheers!

[2016-12-09 01:04] #6919 closed

[2016-12-09 01:06] chrisroberts commented on #6930
The functionality exists if the guest is properly configured. Cheers!

[2016-12-09 01:06] #6930 closed

[2016-12-09 01:06] chrisroberts commented on #6934
Hi there,

We would really like this, but this issue has been open for almost a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-09 01:06] #6934 closed

[2016-12-09 01:07] chrisroberts commented on #6992
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 01:07] #6992 closed

[2016-12-09 01:08] chrisroberts commented on #7000
Hi there,

We would really like this, but this issue has been open for almost a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-09 01:08] #7000 closed

[2016-12-09 01:08] chrisroberts commented on #7003
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 01:08] #7003 closed

[2016-12-09 01:09] hjchin commented on #7390
@chrisroberts I have stop using vagrant share, I used local IP with port to resolve the problem.

[2016-12-09 01:11] chrisroberts commented on #7029
I believe this is the expected behavior. The restore will return to the state of the snapshot, which does not include the newly added forwarded port. A reload would be required at that point to forward the new port. Cheers!

[2016-12-09 01:11] #7029 closed

[2016-12-09 01:12] chrisroberts commented on #7030
Defining the provider within the Vagrantfile is enough to make it prefer it:

[code]

Cheers!

[2016-12-09 01:12] #7030 closed

[2016-12-09 01:13] chrisroberts commented on #7036
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-09 01:13] #7036 closed

[2016-12-09 01:13] chrisroberts commented on #7048
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 01:13] #7048 closed

[2016-12-09 01:14] chrisroberts commented on #7053
Hi there,

We would really like this, but this issue has been open for almost a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-09 01:14] #7053 closed

[2016-12-09 01:14] chrisroberts commented on #7054
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-09 01:14] #7054 closed

[2016-12-09 01:16] chrisroberts commented on #7038
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 01:16] #7038 closed

[2016-12-09 01:17] chrisroberts commented on #7057
Hey there,

I am going to close this due to lack of response. If this is still occurring, please open a [_new issue_](https://github.com/mitchellh/vagrant/issues/new) and follow the provided issue template that appears when you click the "New Issue" button. This will help us in getting a reproduction and fix. Thanks! 😄

[2016-12-09 01:17] #7057 closed

[2016-12-09 01:17] chrisroberts commented on #7062
Hi there,

We would really like this, but this issue has been open for almost a year with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-09 01:17] #7062 closed

[2016-12-09 01:20] chrisroberts commented on #6077
I was referring to the original issue and subsequent comment around needing to better reproduce the issue :)

[2016-12-09 01:21] chrisroberts commented on #7390
Okay, thanks for the reply!

[2016-12-09 01:21] #7390 closed

[2016-12-09 01:38] rozagh commented on #6360
Can we reopen this issue? Or should we report a new bug?

[2016-12-09 04:03] vincenzoraco commented on #7948
I confirm. Just updated VMWare Fusion and I have the same issue with the version 8.5.3

[2016-12-09 04:14] ferventcoder commented on #6788
@chrisroberts so there is better cygwin detection now - vagrant doesn't simply look for cygwin in the PATH.

[2016-12-09 04:15] ferventcoder commented on #6788
Sorry, that was a question. If that is not fixed then it is still an issue.

[2016-12-09 04:17] danielcompton commented on #7029
Hi Chris, my (incorrect?) assumption was that the settings in the Vagrantfile are applied to a VM every time it starts up. That doesn't seem to be the case when restoring snapshots? Is that the desired behaviour?

I think possibly my mistake was that I assumed a snapshot captured just the state of the disk, but it sounds like it also captures the running state of the VM?

[2016-12-09 04:21] ferventcoder commented on #6788
There is a good repro and what is causing the issue in @StefanScherer 's comments at https://github.com/mitchellh/vagrant/issues/6788#issuecomment-169967399

[2016-12-09 05:36] axos88 opened #8101 "Need a method, similar to chef.json that will provide the highest level of override"
In the chef provisioner, I would like to see a method to define attributes at the highest level (maybe automatic, through the installation of an ohai plugin?), in order to be able to override things that are specific to the vagrant run:

The problem I am facing is that some wrapper cookbooks already have 'override'-s defined, and there seems to be no way to override those to fit the vagrant enviro

[2016-12-09 07:00] StefanScherer commented on #6759
@chrisroberts Although it's an old issue, it's still there in Vagrant 1.9.1. I think it has more to do with the vagrant-vmware-workstation plugin. It works on Mac, but doesn't work on Windows.

## Video of vagrant up on Mac / Windows

![vagrant-up-linked-clone-mac-windows](https://cloud.githubusercontent.com/assets/207759/21040471/7e73d4bc-bde5-11e6-9edf-498710f4c337.gif)

## Mac

[code]

Only the

[2016-12-09 07:09] StefanScherer commented on #6759
I'm using vagrant-vmware-fusion / vagrant-vmware-workstation plugin version 4.0.15. I think you have to look in the plugin code to fix that.

[2016-12-09 07:18] StefanScherer commented on #7637
Fixed at least with Vagrant 1.9.1. I ran this integration test

[code]

giving me this output:

[code]

And in the box the previously missing DLL to make curl.exe work is there

[code]

[2016-12-09 07:19] StefanScherer commented on #7637
See https://github.com/mitchellh/vagrant-installers/pull/78 for reference.

[2016-12-09 08:55] crashev commented on #6360
@rozagh I've already opened a new ticket at https://github.com/mitchellh/vagrant/issues/8061

[2016-12-09 10:06] 0re1 commented on #7521
I don't know I would have to install Windows 10 Insider Preview - I have installed normal Windows 10 Pro (as mentioned in previous post) and Vagrant was running there OK (there were problems with shared folders (Samba) and network setting but I believe it was some bug in Hyper-V (Hyper-V Manager and Virtual Switch Manager) - I am now back to using VirtualBox...)

[2016-12-09 13:28] chrisroberts commented on #6759
@StefanScherer Okay, great. Thanks for confirming!. I'll open this back up and have a look on windows.

[2016-12-09 13:32] StefanScherer commented on #6759
Thanks. Forgot to mention that my Windows setup is Windows 7 Enterprise with VMware Workstation Pro 12.5.

[2016-12-09 14:14] chrisroberts commented on #7144
Hi there,

We would really like this, but this issue has been open for over six months with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-09 14:14] #7144 closed

[2016-12-09 14:17] chrisroberts commented on #7146
Closing this as dup of #7004

[2016-12-09 14:17] #7146 closed

[2016-12-09 14:18] chrisroberts commented on #7148
Hi there,

We would really like this, but this issue has been open for over six months with no one working on it, Leaving it open is unfortunately making our issue count look higher than it is. I’m going to close this and if someone wants to work on it I’d still be open to a PR!

Cheers!

[2016-12-09 14:19] chrisroberts commented on #7183
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 14:19] #7183 closed

[2016-12-09 14:22] chrisroberts commented on #7227
Hey there,

I am going to close this due to lack of response. If this is still occurring, please open a [_new issue_](https://github.com/mitchellh/vagrant/issues/new) and follow the provided issue template that appears when you click the "New Issue" button. This will help us in getting a reproduction and fix. Thanks! 😄

[2016-12-09 14:22] #7227 closed

[2016-12-09 14:28] chrisroberts commented on #7247
@coldacid Can you confirm if you are still experiencing this behavior in latest release of Vagrant? Thanks!

[2016-12-09 14:30] chrisroberts commented on #7297
@aarsan Can you confirm if you are still experiencing this behavior with the latest Vagrant release? Thanks!

[2016-12-09 14:31] chrisroberts commented on #7330
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-09 14:31] #7330 closed

[2016-12-09 14:32] chrisroberts commented on #7362
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-09 14:32] #7362 closed

[2016-12-09 14:34] chrisroberts commented on #7391
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 14:34] #7391 closed

[2016-12-09 14:38] chrisroberts commented on #7445
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-09 14:38] #7445 closed

[2016-12-09 14:40] chrisroberts commented on #7449
Using: `mount_strategy: "kernel"` will cause the plugin to not use vmhgfs. Cheers!

[2016-12-09 14:40] #7449 closed

[2016-12-09 14:42] chrisroberts commented on #7452
It seems the original cause of the issue was related to installed plugins. If this behavior is persistent without plugins installed, please reopen this issue or create a new one. Thanks!

[2016-12-09 14:42] #7452 closed

[2016-12-09 14:42] chrisroberts commented on #7495
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-09 14:42] #7495 closed

[2016-12-09 14:43] chrisroberts commented on #7511
Hi there,

Thanks for reporting this bug. I'm sure this was a real issue when originally reported (our fault for not looking sooner!) but there have been multiple Vagrant releases since the original report. I'm going to close this issue now and request you reopen the issue if you're still experiencing this problem. I'm sorry this wasn't looked at earlier :frowning_face:

Cheers!

[2016-12-09 14:43] #7511 closed

[2016-12-09 14:45] chrisroberts commented on #7637
@StefanScherer Thanks for the confirmation! I'm going to close this up.

[2016-12-09 14:45] #7637 closed

[2016-12-09 14:50] chrisroberts commented on #7653
I believe this is simply an issue of the host filesystem type being mounted. The solution you used above including mode mount options seems like the best course of action. If you have a different way to address this, I'd be happy to have a look. Thanks!

[2016-12-09 14:50] #7653 closed

[2016-12-09 14:51] chrisroberts commented on #7656
Closing this (even though it is the earlier issue) and tracking it here: #8095

Thanks for the report!

[2016-12-09 14:51] #7656 closed

[2016-12-09 14:54] chrisroberts commented on #7663
@akaRem Hi! Can you provide a gist of the `--debug` output displaying this issue? Thanks!

[2016-12-09 14:57] chrisroberts commented on #7681
Hi! Please add a keep_alive line to your configuration:

[code]

If that does not fix the issue, please feel free to reopen or create a new issue. Thanks!

[2016-12-09 14:57] #7681 closed

[2016-12-09 15:01] chrisroberts commented on #7700
Vagrant defaults the interface and the way around that is to manually adjust it in the Vagrantfile. If you would like to try and add some logic around it, I'd be happy to review a PR. Thanks!

[2016-12-09 15:01] #7700 closed

[2016-12-09 15:08] chrisroberts commented on #7708
Adding restrictions on plugin installs to being _vagrant plugins_ seems like it would be extremely error prone to implement. While there may be a convention for plugin names, there is no formal requirement. Installing non-vagrant plugin gems via the plugins system won't harm anything other than load time. If you have an implementation in mind, I'd be happy to review a PR. At this point in time, ho

[2016-12-09 15:08] #7708 closed

[2016-12-09 15:11] chrisroberts commented on #7717
Related: #8102

[2016-12-09 15:15] chrisroberts commented on #7742
The logger now issue notifications if plugins are disabled. Cheers!

[2016-12-09 15:15] #7742 closed

[2016-12-09 15:25] chrisroberts commented on #7800
Attempting to surface that information would require much more involved inspection than is currently implemented in Vagrant. These errors are not that common, and can generally be found with some debugging. Cheers!

[2016-12-09 15:25] #7800 closed

[2016-12-09 15:27] deviantintegral opened #8103 "Unload nfsd on OS X when all vagrant boxes are halted"
As of OS X 10.12, the nfsd process now holds a [persistent assertion preventing sleep](https://discussions.apple.com/thread/7699397). This is mostly a good thing, as it lets NFS work on networks where wake-on-lan packets don't work. However, this means that when plugged in, OS X will no longer automatically sleep. If you unload the daemon, sleep works fine, and I noticed that vagrant starts nfsd i

[2016-12-09 15:27] chrisroberts commented on #7823
I have been unable to reproduce this issue. I'm going to close this issue now, however, I'm not closing it because I see it as a non-issue. Merely that I can't get a proper reproduction to debug it. If this behavior surfaces again, and you can provide more information, please reopen this issue, or create a new one. I would like to determine the root cause of the issue, but without being able to re

[2016-12-09 15:27] #7823 closed

[2016-12-09 15:30] chrisroberts commented on #7832
Hi @mnpenner! Can you confirm if you are still encountering this issue with the latest Vagrant release? Thanks!

[2016-12-09 15:32] chrisroberts commented on #7856
Hi there,

Thank you for opening an issue. However, there is not enough information here to reproduce or provide a recommendation. When you first open an issue, a template is pre-filled in the box. That template provides instructions for getting your host and guest information, the version of Vagrant, and the debug output. Without that information, it is very challenging for us to assist you.

Ple

[2016-12-09 15:39] chrisroberts commented on #7232
I believe this to be the expected behavior. The `vagrant up` command will create or start the VM and then provision it if instructed. If the VM is currently running, then there is nothing for it to do. After the VM is up, subsequent provisions should be performed with the `vagrant provision` command.

Cheers!

[2016-12-09 15:39] #7232 closed

[2016-12-09 15:42] dnadle commented on #7232
Then why have the --provision option at all?

[2016-12-09 15:44] chrisroberts commented on #7817
Closing via https://github.com/mitchellh/vagrant/issues/7817#issuecomment-254448028

[2016-12-09 15:44] #7817 closed

[2016-12-09 15:45] chrisroberts commented on #7892
That information can be found in the networking documentation: https://www.vagrantup.com/docs/networking/

Cheers!

[2016-12-09 15:45] #7892 closed

[2016-12-09 15:56] chrisroberts commented on #7906
Hi there,

Thank you for opening an issue. However, there is not enough information here to reproduce or provide a recommendation. When you first open an issue, a template is pre-filled in the box. That template provides instructions for getting your host and guest information, the version of Vagrant, and the debug output. Without that information, it is very challenging for us to assist you.

Ple

[2016-12-09 15:56] chrisroberts commented on #7909
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-09 15:56] #7909 closed

[2016-12-09 16:01] chrisroberts commented on #7924
@wasabigeek Hi! Are you still experiencing this behavior using the latest versions of Vagrant and VirtualBox? If so, can you please provide a full `--debug` gist? Thanks!

[2016-12-09 16:03] chrisroberts commented on #7930
This looks to be a non Vagrant specific problem. If there is an issue with Vagrant that is contributing to this behavior, please feel free to reopen this issue or create a new issue. Thanks!

[2016-12-09 16:03] #7930 closed

[2016-12-09 16:05] chrisroberts commented on #7933
This is the expected behavior from Vagrant. Vagrant expects to halt the VM and remove it. To do that, it needs to have access to the configured provider. Cheers!

[2016-12-09 16:05] #7933 closed

[2016-12-09 16:08] chrisroberts commented on #7946
Closing this as upstream issue. Cheers!

https://forums.virtualbox.org/viewtopic.php?f=1&t=80310

[2016-12-09 16:08] #7946 closed

[2016-12-09 16:12] chrisroberts commented on #7232
The option defaults to on and allows for bringing the VM up _without_ provisioning it via:

[code]

[2016-12-09 16:29] chrisroberts commented on #7957
If you are creating your own base boxes, you should review the documentation to ensure all the prerequisites have been fulfilled:

https://www.vagrantup.com/docs/boxes/base.html

Setting up the vagrant user within the guest as defined in the documentation will allow `vagrant ssh` to work without the requirement of the username/password setting within the Vagrantfile. When running `vagrant ssh` and

[2016-12-09 16:29] #7957 closed

[2016-12-09 16:31] dnadle commented on #7232
The online documentation for vagrant up is:

--[no-]provision - Force, or prevent, the provisioners to run.

The option doesn't default to on. It defaults to nothing,

[2016-12-09 16:36] chrisroberts commented on #7959
I agree with @kikitux that I don't believe Vagrant should be making these adjustments. I would be open to reviewing a PR that implements a proposed solution around this, but I don't think this should be something Vagrant handles.

Cheers!

[2016-12-09 16:36] #7959 closed

[2016-12-09 16:39] mnpenner commented on #7832
I should have some time to upgrade and test tomorrow morning; I will report back then. Thanks for replying!

[2016-12-09 16:39] chrisroberts commented on #7963
@Saoirse1916 Can you confirm if you are still experiencing this issue? If so, can you please provide a gist of the debug output. To do that, run:

[code]

Copy the output and paste it into a gist here: https://gist.github.com and then provide the link here. Thanks!

[2016-12-09 16:40] chrisroberts commented on #7965
@neilgee Are you still experiencing this issue?

[2016-12-09 16:43] coldacid commented on #7247
Last I checked, I still was, but I haven't needed to use Vagrant in months and I don't think I even installed it on my current work machine. So long as Rubygems for the integrated Ruby distribution is up to date (which for 1.8.1 "out of box" is not the case) there is no problem.

[2016-12-09 16:44] chrisroberts commented on #7968
If this is a job that is triggered via jenkins, is it possible that it is getting triggered multiple times? That is my best guess without any viable way of reproducing your environment.

[2016-12-09 16:46] chrisroberts commented on #7977
If there is a specific problem that you are encountering with Vagrant, please feel free to open a new issue. Thanks!

[2016-12-09 16:46] #7977 closed

[2016-12-09 17:02] chrisroberts commented on #8026
Is there enough free space on the host to unpack the box?

[2016-12-09 17:03] chrisroberts commented on #8055
Hi there,

It looks like this has been resolved within a previously shipped version of Vagrant so I am now closing this issue. If the original issue was not fully resolved, please reopen this issue or create a new one.

Cheers!

[2016-12-09 17:03] #8055 closed

[2016-12-09 17:07] svpernova09 commented on #8026
There was, ~90 GB free on the drive.

[2016-12-09 17:21] chrisroberts commented on #8101
This should give you what you're looking for:

https://www.vagrantup.com/docs/provisioning/chef_common.html#json

Cheers!

[2016-12-09 17:21] #8101 closed

[2016-12-09 17:27] bgblanch commented on #7665
I'm having some networking conflicts with VMware Workstation.  I'll try this on my home box this weekend.

[2016-12-09 17:57] gtirloni opened #8104 "Vagrant attempts to destroy VM and drives too soon"
### Vagrant version

1.9.1

### Host operating system

CentOS 7.2
VirtualBox 5.1.10

### Guest operating system

Fedora 24
VirtualBox 5.1.10 Guest Additions

### Debug output

[code]

### Expected behavior

VM gets deleted.

### Actual behavior

Vagrant proceeded to unregister the VM while shutdown has still not completed (the 'VirtualBox' process is still running).

Running `vagrant destroy -f` a

[2016-12-09 18:18] kwbr commented on #7051
As a temporary solution one could override the default path by setting `VAGRANT_HOME`.

`export VAGRANT_HOME=$XDG_DATA_DIR/vagrant`

[2016-12-09 18:36] geerlingguy commented on #8096
I've hit this too—confirmed when I ran my automated build/test cycle for my `geerlingguy/centos7` Packer/Vagrant box: https://github.com/geerlingguy/packer-centos-7

I just ran:

[code]

And I get the error when it tries mounting the NFS share:

[code]

[2016-12-09 18:45] chingc commented on #7996
I haven't experienced this issue since I updated to VirtualBox 5.1.10.  Anyone else?

[2016-12-09 19:04] neilgee commented on #7965
Never resolved it, lost the MySQL db's, had to recreate new local environment.

[2016-12-09 21:20] LoveIsGrief commented on #936
I had to work around this by mounting the folder to a temporary location and then linking to it once the necessary users were created provisioning. I did have to use @jcushman's workaround for mounting though.

I would be great if this were supported

[2016-12-09 22:44] hovissimo commented on #7183
Yeah, my Vagrantfile is largely unchanged from what I posted here, and I haven't had this error or thought about this in forever.  Thanks for cleaning up the old ticket.

[2016-12-10 09:48] hedgehog commented on #8058
@chrisroberts Apologies if this appears obtuse.
The related issues list below indicates that Vagrant private key handling is causing grief - and these issues only represent people who hang in enough to log an issue.

I think the difficulty is more than with the documentation.  I note that #5005 was tagged as an enhancement... should it have been closed?  I think the enhancement is still required.

[2016-12-10 11:17] axos88 commented on #8101
Please reopen, and read the issue more carefully. That option gives normal-level attributes, which are overridden by any overrides defined in a cookbook.

[2016-12-10 11:18] axos88 commented on #8101
@chrisroberts

[2016-12-10 13:02] TomyLobo commented on #6663
Thinking about the issue some more...
MSYS-based and Cygwin-based programs don't interoperate too well, so which version would you bundle anyway?
If you bundled an msys ssh, it would freeze up on cygwin.
If you bundled cygwin git, it would work (I just tested it), but you'd probably have a ton of dependencies.

Since both work fine on Windows' standard prompt, I'd wager a guess that Cygwin is at f

[2016-12-10 14:54] marcindulak opened #8105 "Could not find a controller named 'IDE Controller'"
Originally reported on https://github.com/marcindulak/vagrant-mariadb-galera-tutorial-centos7/pull/1 for
OS X 10.11.6
Vagrant 1.9.0
VirtualBox 5.1.10 r112026 (Qt5.6.2)

## This system configuration reproduces the problem

### Vagrant version
$ vagrant -v
Vagrant 1.9.0  # the problem present also for Vagrant 1.9.1
$ vagrant plugin list
vagrant-share (1.1.6, system)

$ vboxmanage -v
5.1.10r112026
$

[2016-12-10 15:32] marcindulak commented on #7994
Due to "RTNETLINK answers: File exists" I have been doing this, already for a long time in my Vagrantfiles which use https://atlas.hashicorp.com/centos/boxes/7 ...

    machine.vm.provision :shell, :inline => 'ifup eth1', run: 'always'
    # restarting network fixes RTNETLINK answers: File exists
    machine.vm.provision :shell, :inline => 'systemctl restart network'

I don't think issues like thi

[2016-12-10 17:03] Sisyphus67 commented on #7068
I can; I am running into the issue myself:

PS C:\Users\jeffrey\PycharmProjects\networking> vagrant box add withinboredom/Trusty64
==> box: Loading metadata for box 'withinboredom/Trusty64'
    box: URL: https://atlas.hashicorp.com/withinboredom/Trusty64
This box can work with multiple providers! The providers that it
can work with are listed below. Please review the list and choose
the provider y

[2016-12-10 19:15] mickengland commented on #6871
Same for me with Vagrant 1.9.0 provisioning  Ubuntu Zesty Zapus from:
config.vm.box = "ubuntu/zesty64"

==> default: Running provisioner: shell...
        default: Running: inline script
==> default: mesg: ttyname failed: Inappropriate ioctl for device

[2016-12-10 19:24] woss commented on #6957
i've been seeing this message for long time, most of the time is super irritating. I still don't get how to get rid of it, usually i reinstall vagrant and vbox.

[2016-12-10 20:31] mnpenner commented on #7832
Just installed Vagrant 1.9.1. Still getting the same problem:

[code]

[2016-12-10 20:33] kikitux commented on #8096
@chrisroberts for this one, the command being submitted on RH7/Centos7 is:

[code]

The problem is on this line:
[code]

Since `service network restart` on RH7/Centos7 is redireced to NetworkManager, it does nothing

so, when RedHat7/Centos7 is used, should be:
[code]

So this template should take an argument for `NM_CONTROLLED`
[code]

[2016-12-10 20:40] kikitux commented on #8105
Hello.

This is not a Vagrant isue.

The issue relies on Virtualbox use different Controller names between os.

In some OS can be `IDE Controller` but in other is just `IDE`

[code]

So, your script should check OS, etc.

Easier will be build your own VM that include the disk.

Please check for http://packer.io

[2016-12-10 20:40] #8105 closed

[2016-12-10 20:46] kikitux commented on #8104
Hello.

Does this happens when you do `vagrant halt` first ?

If this only happen when the VM is on, perhaps we should add a higher wait between stop and delete.

If this does happen when VM is off, can you try manually couple of tims?

[code]

Thanks

[2016-12-10 20:57] kikitux commented on #8093
https://github.com/mitchellh/vagrant/pull/8106

[2016-12-10 20:59] kikitux commented on #8082
@dorinlazar to explain a bit more, the issues relies on the Spaces in `Program Files` basically.

[2016-12-10 21:03] gtirloni commented on #8104
It only happens when the machine is running. In fact, we added  `vagrant halt && sleep 10 && vagrant destroy -f` to our scripts with good results.

[2016-12-10 21:12] kikitux commented on #8058
@MartinanderssonDotcom

Is all about the workflow.

If you creare your own VM or AMI using your own pair of keys you should use:

[code]

To create custom  boxes or customize AMI we have the tool packer.

The 2 options private_key_path is only to be used to tell vagrant with private key to use to login to the box.

The insert_key is to make the publics VM a bit more secure.

[2016-12-10 22:50] marcindulak commented on #8105
If by OS you mean the guest OS, then the controller seems to be defined in box.ovf.
My test D. (I don't know if it makes sense, someone knowledgeable should review it) shows that taking the puppetlabs box.ovf https://atlas.hashicorp.com/puppetlabs/boxes/centos-7.2-64-puppet/versions/1.0.1 and replacing the uuid and vmdk to match the values for https://atlas.hashicorp.com/centos/boxes/7/versions/16

[2016-12-10 23:40] mwrock commented on #7707
This is an unfortunate weakness with winrm. Unless you configure auth token delegation, second hop authentication is not allowed which is required to authenticate to the smb share.

[2016-12-10 23:42] mwrock commented on #7707
I should mention that the winrm gem does not support the necessary authentication protocol (credssp) needed for 2nd hop auth.

[2016-12-11 00:48] marcindulak opened #8107 "VDI: cannot create image '*.vdi' (VERR_ALREADY_EXISTS)"
### Vagrant version
$ vagrant -v
Vagrant 1.9.1
$ vagrant plugin list
vagrant-share (1.1.6, system)

$ vboxmanage -v
5.1.10r112026
$ vboxmanage list extpacks
Extension Packs: 1
Pack no. 0: Oracle VM VirtualBox Extension Pack
Version: 5.1.10
Revision: 112026

### Host operating system
$ cat /etc/os-release
NAME="Ubuntu"
VERSION="14.04.5 LTS, Trusty Tahr"
$ uname -a
Linux ubuntu 3.13.0-85-generic #12

[2016-12-11 03:27] oknixus commented on #7930
I had given up vagrant.

[2016-12-11 07:20] oleyka opened #8108 "VAGRANT_DOTFILE_PATH creates a "tilde" directory inside the local path"
### Vagrant version
1.9.1 (1.8.1 behaved as expected)

### Host operating system
macOS Sierra

### Guest operating system
not relevant

### Vagrantfile

[code]

### Debug output
not relevant

### Expected behavior
Setting:

[code]

should place all machine files in .vagrant/ relative to user's home.

### Actual behavior
Directory named "~" was created alongside the Vagrantfile.

### Steps to repro

[2016-12-11 08:49] denis-chmel commented on #7648
Thanks, @DanHam's fix helps. I had an issue with laravel's homestead, 'vagrant up' was freezing on:
```homestead-7: SSH auth method: private key```
and looking into VM console I saw:
```A start job is running for raise network interfaces ```
After changing Vagrantfile - vm has ran smoothly.

[2016-12-11 13:06] Japh commented on #5016
@nestorpina Thanks! Your suggestion of removing the embedded version worked for me too.
macOS Sierra 10.12.1, and Vagrant 1.8.7

[2016-12-11 15:09] kenorb opened #8110 "Output of inline script isn't displayed in real-time"
I'm running Vagrant AWS instances via Jenkins, however the output isn't properly displayed for inline scripts. The output is displayed after the inline script has been executed, but not during the execution (as it does for `config.vm.provision "shell"`). So if the command takes an hour, I'll see the results after that, which isn't very convenient.

E.g.

[code]

So the output is like:

[code]

and

[2016-12-11 18:24] mylonasg88 commented on #3118
Installed new Vagrant box through bash file. Can access it through ip and vhost url.

Running "vagrant share" does not work, vagrant can not find the http port.
Running "vagrant share --http 80" generates a URL. Accessing that url on the browser does not work.

Any ideas why?

[code]

[code]

[2016-12-11 23:32] JPvRiel opened #8111 "Docker provider does not prompt for sudo password"
### Vagrant version
Vagrant 1.8.1 and 1.9.1 tested

### Host operating system
Ubuntu 16.04.1 LTS

### Guest operating system
docker 1.12.3 native (other providers libvirt and lxc also working)

### Vagrantfile
[code]

### Debug output
N/A issue is obvious, vagrant is not promoting or using `sudo` when running docker commands (as provider, not provisioner)

[code]

### Expected behavior
Vagrant pro

[2016-12-12 00:19] ntki commented on #6827
Hi

Just tried it with 1.9.0 and 1.9.1. The issue is still standing.

Cheers

[2016-12-12 01:26] antonio-malcolm opened #8112 "vagrant package --base --output Does Not Include vagrant_private_key"
Please note that the Vagrant issue tracker is reserved for bug reports and
enhancements. For general usage questions, please use the Vagrant mailing list:
https://groups.google.com/forum/#!forum/vagrant-up. Thank you!

### Vagrant version
1.9.1

### Host operating system
Void Linux

### Guest operating system
Void Linux

### Vagrantfile
(Not sure why this makes any difference, in my case)
[code]

[2016-12-12 01:41] antonio-malcolm commented on #8112
Ok, so I notice there's no issue with renaming package.box to whatever you feel like, after using `vagrant box repackage`.

Is it then intentional that `vagrant package --base --output` does not include the private key, while `repackage` does? Is there some fundanmental difference, in intent, which requires it? I ask, because this wasn't an issue, just a few months ago, and I had a fairly specific

[2016-12-12 05:08] antonio-malcolm commented on #5186
@heichblatt DONE.

https://github.com/mitchellh/vagrant/issues/8112

Void Linux
Vagrant 1.9.1
Virtualbox 5.1.10

This issue started for me this week. It probably hit sooner, but I update my boxes only every few months, so I've just noticed the issue, today.

[2016-12-12 05:10] antonio-malcolm commented on #8112
https://github.com/mitchellh/vagrant/issues/5186

[2016-12-12 06:29] antonio-malcolm commented on #5186
OK, so I performed a complete reinstall of vagrant, and, now, when I use `package`, I get the following message (which is reaussuring, and probably how it _should_ work):

[code]
Anyone else have any luck with a reinstall?

[2016-12-12 06:31] antonio-malcolm commented on #8112
OK, so I performed a complete reinstall of vagrant, and, now, when I use `package`, I get the following message (which is reaussuring, and probably how it _should_ work):

[code]

Will continue with my usual update process, and see if I can successfully finish it.

[2016-12-12 06:52] mcandre opened #8113 "[Microsoft/EdgeOnWindows10 box] Shell provisioner implicitly requires sudo (coreutils) to execute commands"
Please note that the Vagrant issue tracker is reserved for bug reports and
enhancements. For general usage questions, please use the Vagrant mailing list:
https://groups.google.com/forum/#!forum/vagrant-up. Thank you!

### Vagrant version
Run `vagrant -v` to show the version. If you are not running the latest version
of Vagrant, please upgrade before submitting an issue.

[code]

### Host operatin

[2016-12-12 08:09] antonio-malcolm commented on #8112
OK, I've also found that restoring the insecure key **before** running `vagrant package` will result in vagrant generating a new key upon running `vagrant up` on the new package (see my previoous comment).

[code]

[2016-12-12 08:10] antonio-malcolm commented on #5186
OK, I've also found that restoring the insecure key **before** running `vagrant package` will result in vagrant generating a new key upon running `vagrant up` on the new package (see my previoous comment).

[code]

[2016-12-12 12:30] elasticsteve commented on #3118
I have the same problem. Since yesterday not even vagrant share --http 80 works.

I have the same messages like you posted above.

When trying to access the vagrant link I get:
[code]

[2016-12-12 15:21] 4m3ndy commented on #8096
@kikitux Thanks a lot, I confirm that your fix sets every thing back on track, it's working fine.
Vagrant version: 1.9.1

[2016-12-12 18:14] StefanScherer commented on #8113
@mcandre The box is provided by Microsoft and not Hashicorp, so it has nothing to do with Vagrant itself and this repo. See https://atlas.hashicorp.com/Microsoft/ for details, but I've tried that email address shown there months ago without any reply.

PowerShell provisioning works from macOS with WinRM communicator, but don't know if that works with SSH.

There are better Windows boxes out there

[2016-12-12 18:18] breisig opened #8114 "Vagrant freezes at Vagrant insecure key has detected with CentOS 7.3 VM."
Hello,

I am running the latest Vagrant (1.9.1 and I tried with 1.8.7] trying to bring up a CentOS 7.3 Linux VM with the latest Virtualbox[5.1.10] running on Windows 10 and it seems the vagrant 'up' process never actually replaces the insecure ssh key and eventually times out.

Bringing machine 'default' up with 'virtualbox' provider...
==> default: Box 'virtualbox-centos73.box' could not be found

[2016-12-12 19:00] Nezteb opened #8115 "Vagrant 1.9.1 private networking configures unreachable VirtualBox VM"
### Vagrant version
1.9.1

Using VirtualBox 5.1.10.
Using plugin `vagrant-hostsupdater (1.0.2)`

### Host operating system
Windows 10
Mac OS X 10.11

### Guest operating system
CentOS 7.2

Running nginx

### Vagrantfile

We're using [KitchenCI](http://kitchen.ci/) along with [Chef](https://www.chef.io/).

Our `.kitchen.yml` config generates this Vagrantfile:
[code]

### Debug output
None of the to

[2016-12-12 19:01] mcandre commented on #8113
Thanks for the details!

I wish Atlas promoted a more official, working example of a Windows guest, but I'll try out some of the community-maintained ones in the meantime.

[2016-12-12 19:01] #8113 closed

[2016-12-12 19:44] Dispader commented on #8115
@Nezteb I just started observing this myself (according to GitHub, you beat me to the bug report by 2m).  For you, is this limited to CentOS/RedHat/Fedora?

[2016-12-12 20:04] Nezteb commented on #8115
@Dispader Just tried it on Ubuntu 16.04 and the nginx page works as expected. I had not previously tried it on Ubuntu, as this project requirement requires CentOS.

So the issue does seem to be confined to CentOS. Ubuntu works fine. As mentioned in the semi-related issue I linked earlier, [I'm willing to bet this NetworkManager config is part of the problem.](https://github.com/mitchellh/vagrant/i

[2016-12-12 20:07] johnament opened #8116 "Environment variables with"
Please note that the Vagrant issue tracker is reserved for bug reports and
enhancements. For general usage questions, please use the Vagrant mailing list:
https://groups.google.com/forum/#!forum/vagrant-up. Thank you!

### Vagrant version
Run `vagrant -v` to show the version. If you are not running the latest version
of Vagrant, please upgrade before submitting an issue.

`vagrant 1.9.1`

### Host

[2016-12-12 20:43] mcandre commented on #4968
Can `vagrant login` please be updated to integrate better with `vagrant push`? These have grown apart, especially with the de facto Atlas push strategy.

Out of the box, `vagrant login && vagrant push` fails due to:

* No longer informing the push with the traditional `~/.vagrant.d/data/vagrant_login_token` credentials file.
* Implicitly requiring that an `ATLAS_TOKEN` environment variable be set.

[2016-12-12 21:21] dky commented on #7763
Hello, just wondering if anyone made any progress on this issue? Still seeing the same.

[2016-12-12 21:36] dky commented on #7763
vagrant init geerlingguy/centos7; vagrant up --provider vmware_fusion seems to work for those struggling with the same issue.

[2016-12-12 22:20] lioannou commented on #7972
@chrisroberts - I have a similar issue.

Vagrant 1.9.0 - on WIndows 10. Running Homestead box v1.0.1 "wmware" - This is running Ubuntu 16.04 (same as above)

We've confirmed it affects other users running Windows 10 and this box - i,e. it is not just me. This SO question summizes the issue perfectly: http://stackoverflow.com/q/33393077/1317935 . I dropped a 500 bounty on the question to try to get

[2016-12-12 22:53] karlkfi commented on #8115
I'm also seeing this bug on Vagrant 1.9.1 (but not Vagrant 1.9.0) using a guest CentOS 7.2 VM on VirtualBox 5.1.10.

The symptom seems to be that the hostonly inet is completely missing when you run `ifconfig`. There's a `enp0s3` from dhcp, but no `enp0s8` with the hostonly IP.

Based on that, it sound related to this #7876 (a 1.8.6 bug) which was fixed by #7866. That makes me think that it was ca

[2016-12-12 23:51] karlkfi commented on #8115
Monkey patching to revert https://github.com/mitchellh/vagrant/commit/548269212709cd31992d65aada966e711593b60a does not fix the problem. So that's not the issue.

[2016-12-12 23:59] karlkfi commented on #8115
Confirmed that `enp0s8` comes back if you `sudo /etc/init.d/network restart` as recommended in https://github.com/mitchellh/vagrant/issues/8096#issuecomment-265766960

[2016-12-13 00:05] karlkfi commented on #8115
Executing `sudo service network restart` also fixes the issue, but `sudo service NetworkManager restart` does not, because enp0s8 is not managed by NetworkManager (`NM_CONTROLLED=no`).

So the problem is the same as #8096 and is caused by the change in #8052.

[2016-12-13 00:16] karlkfi commented on #8115
Verified that #8052 is the problem. Reverting it with a monkey patch causes my VMs to come up with both `enp0s3` and `enp0s8`.

[2016-12-13 00:47] marcindulak commented on #8116
'DEV_HOME' is the value on the Windows host, it seems reasonable to me that is starts with 'c:\'.
What is outputted from Windows by

     echo %DEV_HOME%

or if powershell

    $Env:DEV_HOME

[2016-12-13 00:51] johnament commented on #8116
Hi, sorry I wasn't clear on that part.  In this case, they're using cygwin to run vagrant, in which case c: isn't valid.

[2016-12-13 00:54] marcindulak commented on #8108
Isn't this related to the shell? Are you sure quoting is correct in this case?

    export VAGRANT_DOTFILE_PATH=~/.vagrant
    echo $VAGRANT_DOTFILE_PATH

[2016-12-13 01:06] marcindulak commented on #8116
If I remember well `c:/` is valid on cygwin too, better explicitly verify the value with `echo $DEV_HOME` from cygwin.

[2016-12-13 01:07] Nezteb commented on #8115
@karlkfi As mentioned in [this comment](https://github.com/mitchellh/vagrant/issues/8096#issuecomment-266235897) on #8052, I think the solution will involve allowing an argument for `NM_CONTROLLED` in [network_static.erb](https://github.com/mitchellh/vagrant/blob/master/templates/guests/redhat/network_static.erb) when CentOS 7 or RHEL 7 are used.

[2016-12-13 01:37] karlkfi commented on #8115
Do you actually want the host-only static interface to be NetworkManager controlled? What if there are other interfaces that aren't?

[2016-12-13 01:49] Nezteb commented on #8115
The template could check if NetworkManager is running in a similar fashion to this. If it is, set `NM_CONTROLLER` to `yes`. That's basically all [this line](https://github.com/mitchellh/vagrant/blob/master/plugins/guests/redhat/cap/change_host_name.rb#L35) is doing when making the decision to use `network` or `NetworkManager`.

[2016-12-13 02:09] Nezteb commented on #8115
Good point. I saw [your comment here](https://github.com/mitchellh/vagrant/pull/8052#issuecomment-266596724) and agree with you. Perhaps running `/etc/init.d/network restart` would have a different result. I'll try it out tomorrow with Fedora and CentOS again.

[2016-12-13 05:44] oleyka commented on #8108
@marcindulak Unquoting sure changes the value (and the behavior), but both cases should be producing the same result. Numerous apps have no problem parsing quoted "~" within their envvars.

E.g., do the following:
[code]
and create an executable `ls` in your home, then run:
[code]
Which `ls` got executed?

[2016-12-13 06:51] Jsgoller1 commented on #6871
Same issue for me too. Link to my [vagrantfile](https://github.com/Jsgoller1/Stompbox/blob/master/Vagrantfile). Output of `vagrant up`:

[code]

[2016-12-13 06:56] skvl opened #8117 "vagrant output leaks password on box add"
### Vagrant version
Vagrant 1.9.1

### Host operating system
Linux

### Expected behavior
vagrant outputs:

So I have to `sed 1d` this line.

### Actual behavior
vagrant outputs:

### Steps to reproduce
1. `vagrant box add https://user:password@...`

### References
No

[2016-12-13 11:56] sirn commented on #8115
I'm also affected by this. I'm currently using CentOS 7.1 with NFS mount and got this error while Vagrant trying to mount NFS shared folders (posting the error just in case anyone else is having the same problem):

[code]

Manually reverting the #8052 mentioned in the above comment in local installation make everything works again.

[2016-12-13 12:29] richrdkng commented on #7695
+1

Same here:
 - Windows 10 x64 (v1607 - 14393.479)
 - VirtualBox 5.1.10
 - Vagrant 1.9.1

[2016-12-13 12:54] crashtua commented on #7915
+1 will be nice feature.

[2016-12-13 13:13] crashev commented on #8061
I wonder when someone from Vagrant team will lookup into this, can't properly work on OSX with Vagrant

[2016-12-13 13:38] dominikzogg commented on #8061
@crashev it seems, that its a OSX Bug, not a vagrant ones. Until now there are no known working workarounds, with an acceptable performance

[2016-12-13 13:41] araines commented on #8061
@lightster mentioned a workaround - from your host machine (i.e. macOS) if you perform the following operation in the root of the shared folder:

[code]

Then that appears to refresh all the NFS links, meaning you are able to operate as normal inside Vagrant again.  It isn't ideal, but I've been doing that pretty successfully for a while now.

[2016-12-13 14:37] gtirloni commented on #8114
I've seen this happen when the permissions of the authorized_keys file are incorrect.

What's the output of `ls -la /home/vagrant/.ssh` ?

[2016-12-13 14:39] gtirloni commented on #8116
Please add the debug output.

[2016-12-13 15:54] crashev commented on #8061
@araines just chcked ls -lR but it does seem not to work for me, still a lot of permission denied when trying to delete folder like vendors/ in my php project, but found that's because ls -lR does not go into directories with dot like .git in this case it's better to use:

`
ls -alR > /dev/null
`

[2016-12-13 15:55] kenorb commented on #6623
Related: [A VirtualBox machine with the name 'homestead' already exists](http://stackoverflow.com/q/26993903/55075)

[2016-12-13 16:09] kenorb opened #8118 "VM hangs while sending keep-alive packets endlessly"
Vagrant version: 1.9.1 ([`Vagrantfile`](https://github.com/EA31337/FX-MT-VM/blob/7780d196ab8aa10e78fb1d4f123a73376f88595e/Vagrantfile)), host OS: macOS, guess: Ubuntu

After I've added `config.ssh.keep_alive`, vagrant seems it hang on `vagrant up`.

See the log:

[code]

In another terminal while ruby is hanging:

[code]

Relevant code in `plugins/communicators/ssh/communicator.rb`:

          if

[2016-12-13 16:32] bvi1998 commented on #5186
I had this problem after updating boxcutter/centos72 to the 2.0.19 box.
I added this to my vagrantfile and now I'm ok:
config.vm.box_version = "2.0.18"

[2016-12-13 16:37] kenorb commented on #6086
Same happens in 1.9.1, follow-up: #8118

[2016-12-13 17:03] joshuasmickus commented on #8061
I tried quite a few things, and ended up removing vagrant (with instructions from the website) and installing 1.9.1 with virtualbox 5.1 and that worked for me - now my setup works as expected, not sure if that helps anyone.

[2016-12-13 17:19] jamsilver commented on #7948
I updated to 8.5.3 today and saw this issue. I deleted the lines in nat.conf as @darthsteven suggested in https://github.com/mitchellh/vagrant/issues/7948#issuecomment-264835320 and it now works fine.

Perhaps something in VMWare processed this file and rewrote it without vagrant's comments when upgrading?

[2016-12-13 17:32] carlosefr commented on #8108
@oleyka  `~` is a shell expansion character. In your example the shell itself is parsing the contents of the `PATH` variable, so it works.

In either case the proper way to refer to the user's home directory in quoted contexts is by using the `HOME` environment variable:
[code]

[2016-12-13 18:04] chrisroberts commented on #8118
@kenorb Thanks for opening a new issue and including so much detail :+1:

[2016-12-13 18:27] oleyka commented on #8108
@carlosefr Thank you for taking time to explain the fine details to me. Yet just like I said, multiple applications have no problem expanding tilde in their envvars and vagrant does not have to be an exception. I would not have filed the ticket if it was not a regression from a previously observed behavior.

[2016-12-13 18:53] carlosefr commented on #8108
I'm unsure on how that used to work. I submitted some changes to how that path is handled a while ago and there was no explicit parsing of `~` that I could see. Maybe that was some side effect somewhere else and, thus, undefined behavior.

I disagree that other tools parsing `~` by themselves is enough reason for vagrant to do the same. Even in the shell, `~` is mostly intended as an interactive s

[2016-12-13 20:04] chrisroberts commented on #8093
Fixed via #8106

[2016-12-13 20:04] #8093 closed

[2016-12-13 22:51] kenorb commented on #8110
I had `config.ssh.pty` enabled, when disabled, it started to work fine (the progress is shown on the fly). Is that expected behaviour?

[2016-12-14 01:51] adrianmak commented on #3118
After upgraded vagrant to the latest 1.9.1 (prior was running 1.8.x)
Vargant share didn't work anymore
Even though I could use --http 80 to eliminate the error message, but the web url is not accessible.

[2016-12-14 01:57] elasticsteve commented on #3118
In my case I could make it work with:
`vagrant share --http 8000`

[2016-12-14 02:26] adrianmak commented on #3118
After I fallback to version 1.8.7
The problem gone.

[2016-12-14 07:08] kazgurs commented on #8061
@joshuasmickus could you please elaborate? As far as I know, vagrant 1.9.1 supports virtualbox up to 5.0, not 5.1

[2016-12-14 08:12] jasperf commented on #6957
I do get this message every now and then too. And it seems to happen on particular networks like at my favorite coffee place. At home the vagrant boxes boot just fine. So I tend to think it is router or network related.

[code]

[2016-12-14 09:55] kikitux commented on #8096
As workaround, in the meantime this gets fixed, you can use:

replace IFACE with eth1/ens34/name_of_interface

[code]

[2016-12-14 10:54] arendjr commented on #8061
After spending almost a day trying to debug this thing, it seems I have a "solution". The reason we kept on searching was that I was having this exact issue as described in this bug report, but a colleague of mine, also on Sierra, was having no problems: there had to be something more going on.

So, last thing we tried that seems to have fixed it: On my host machine the directories that were share

[2016-12-14 11:34] elasticsteve commented on #3118
Went back to 1.8.6 and `vagrant share --http 80` worked again.

Then I went back to 1.8.5 and I could even use plain `vagrant share` (which is built into PHPstorm and great to use!).

[2016-12-14 14:47] jfbibeau commented on #8061
@kazgurs - It definitely supports 5.1.x. From the docs page:

@joshuasmickus For what it's worth, I'm still seeing the issue on my setup with VirtualBox 5.1.2, Vagrant 1.9.1.

I think the problem is definitely intermittent so we have to be careful when seeing the problem go away for a while. Too bad the workaround with the group didn't work out either :/ Maybe the effect of doing a chown on the fi

[2016-12-14 14:51] dolph commented on #7341
If vagrant crashing is the expected behavior, then perhaps vagrant shouldn't automatically download broken versions from hashicorp? Or perhaps hashicorp should not allow boxes with broken versions to be published in the first place? Or perhaps vagrant should supply a error message instead of dumping random stack traces?

"Good luck" is right.

$ vagrant init concourse/lite
A `Vagrantfile` has been

[2016-12-14 14:52] skvl opened #8120 "vagrant failed to up private network in Fedora 25"
### Vagrant version
Vagrant 1.9.1

### Host operating system
Linux

### Guest operating system
Fedora 25

### Vagrantfile
[code]

### Expected behavior
`ifconfig` inside *mybox* should display *IP* from config.

### Actual behavior
Interface is down.

### Steps to reproduce
1. vagrant up mybox
2. vagrant ssh mybox
3. ifconfig

[2016-12-14 15:26] sergeijakovlev commented on #7341
Hello, @dolph

In my case the problem was specifically in the version of Vagrant available from Debian repositories. @sethvargo confirmed that Vagrant should support versions containing minus sign (not that Vagrant should crash, as version available from Debian repository did, unfortunately). This also does not seem to be an issue on other distributions. With that in mind, the versions of the boxe

[2016-12-14 16:47] whizkid79 commented on #8061
@arendjr can you please investigate further what's different to your colleagues's machine?

Right now I'm running a `ls` every minute on a cron on my host, which hides the issue completely and I haven't noticed any performance side effects on this. But it is quite a dirty workaround.

[2016-12-14 16:56] chrisroberts commented on #8120
Closing as dup of #8096

[2016-12-14 16:56] #8120 closed

[2016-12-14 16:56] chrisroberts commented on #8115
Closing as dup of #8096

[2016-12-14 16:56] #8115 closed

[2016-12-14 17:16] jfbibeau commented on #8061
Been trying to debug this further into the NFS all morning. I can use `rpcdebug` on the client side (guest/linux), and I can see that the server seems to return a -13 error code:

[code]

Unfortunately, I can't for the life of me figure out how to use the equivalent of rpcdebug on osx. I've tried upping the verbosity of nfsd on osx but it doesn't go anywhere as verbose as on linux using rpcdebug..

[2016-12-14 17:16] hoshy commented on #7441
It still doesn't for for me with Vagrant 1.9.1 on macOS Sierra.

[2016-12-14 17:19] joshuasmickus commented on #8061
Srana at my work suggested the following:

Right click on the folder which has the permissions error, and then click "Get info". At the bottom, give it "Read & write" access for "Everyone".

This should solve the permissions error

[2016-12-14 17:30] arendjr commented on #8061
@joshuasmickus I can confirm I'm having some success by doing that... but I'm holding my breath whether it'll last this time. Fingers crossed!

@whizkid79 I wish I could... My colleague and I are running the exact same virtual machine image now, and we cannot find any further changes on our hosts... Right now I'm sincerely out of ideas of what to try next. I can only hope Joshua's solution will la

[2016-12-14 18:02] chrisroberts commented on #8018
Hi. Thanks for providing this information, however the behavior being exhibited is the expected and desired behavior of Vagrant. The important part of your defined requirements is:

Synced folders can be mounted with custom user/group ownership and it is the responsibility of the user to determine how their synced folders should be mounted into the guest system. If access should be limited to the

[2016-12-14 18:02] #8018 closed

[2016-12-14 20:28] NathanKleekamp opened #8123 "Error Mounting Shared Folders with default and NFS synced folders after yum update"
Thanks for all your hard work on Vagrant!

### Vagrant version
Version: Vagrant 1.9.1
Vagrant + VMWARE plugin (4.0.15)

### Host operating system
Mac OS 10.11.6 (15G1108)
VMWARE Fusion Pro 8.5.3 (4696910)

### Guest operating system
CentOS 7.2
config.vm.box = "bento/centos-7.2"

### Vagrantfile
[code]

### Debug output
https://gist.github.com/NathanKleekamp/451b8bdb015ce47ebd8cbd10620bd761

### Ex

[2016-12-14 21:13] karlkfi commented on #8096
I'm not sure that changing `NM_CONTROLLED=no` to `NM_CONTROLLED=yes` is always the right answer. It's definitely one option that would make the #8052 code work, but I'm not sure it's the correct fix or not.

It's not clear why #8052 was made yet, because the PR doesn't actually say precisely what problem it's fixing. It says "`service network restart` might fail." on RHEL-7 / Fedora but not how or

[2016-12-14 22:06] breisig commented on #8114
@gtirloni ls -la /home/vagrant/.ssh
total 12
drwx------  2 vagrant vagrant 4096 Dec 14 15:35 .
drwx------. 4 vagrant vagrant 4096 Dec 14 15:40 ..
-rw-------  1 vagrant vagrant  409 Dec 14 15:35 authorized_keys

[2016-12-14 22:15] gtirloni commented on #8114
Does it also happen with the official `centos/7` box?

[2016-12-14 23:33] adrianmak commented on #3118
@elasticsteve

I could use vagrant share (without specific http port 80 ) on 1.8.7

[2016-12-15 08:33] sgratzl commented on #3860
@kumaxim Thanks made my day.

It allows me that I can now run on my windows 10 pro pc both docker (hyper-v) and virtualbox via vagrant at the same time :)

[2016-12-15 10:45] toeg commented on #8018
Hi, thanks for your reply and investigation of the problem.
I've retested it and indeed your right - the file is only evaluated when calling `vagrant status` or `vagrant ssh` from the host. Executing `reboot` on the guest or connecting to it using `ssh vagrant@localhost -p2222` after a reboot does not evaluate the file.
Cheers!

[2016-12-15 11:09] Hukuta commented on #1560
In my case  it was out of disk space in home folder

[2016-12-15 12:55] mr-moon commented on #5186
Still an issue for us on 1.8.6

[2016-12-15 13:19] arendjr commented on #8061
One more update: My colleague has suddenly gotten the problem as well. I'm starting to believe no Sierra users are truly immune here...

[2016-12-15 13:46] razbakov commented on #7646
@chrisroberts
Please reopen the ticket. It is not solved.

It is randomly works and doesn't work again.

[2016-12-15 13:49] lukasojd commented on #6631
+1 it worked for me config.vm.synced_folder ".", "/vagrant", disabled: true

[2016-12-15 13:50] razbakov commented on #7646
Adding the line 127.0.0.1 localhost to the /etc/hosts file worked for me
http://stackoverflow.com/questions/23753523/vaprobash-create-new-vm-failed

[2016-12-15 13:57] NathanKleekamp commented on #7763
@dky After you `vagrant halt` + `vagrant up` or `vagrant reload` the vm, do the synced folders continue to mount?

[2016-12-15 14:22] kazgurs commented on #8061
@arendjr it was found in the original issue (#6360) the problem lies within NFS lookupcache. Changing permissions and listing files are just temporary workarounds, as it does refresh the cache.  It would be nice if somebody with better understanding of NFS mechanism would dig deeper.

[2016-12-15 15:50] mstenta commented on #6871
I'm seeing the following error when I try to run `vagrant provision` using the puppetlabs ubuntu 16.04 box (https://atlas.hashicorp.com/puppetlabs/boxes/ubuntu-16.04-64-puppet/)

    ==> default: Running provisioner: puppet...
    ==> default: Running Puppet with init.pp...
    ==> default: mesg:
    ==> default: ttyname failed
    ==> default: :
    ==> default: Inappropriate ioctl for device

[2016-12-15 15:54] rdonkin commented on #7646
@razbakov Is it possible this is IPv6 related?  I've had some issues with OS X hosts and VirtualBox VMs where forcing use of 127.0.0.1 made SSH work.

Maybe try replacing that /etc/hosts line with `::1 localhost` to see if forcing IPv6 breaks it.

[2016-12-15 16:00] mstenta commented on #7368
Hmm, I installed Vagrant 1.9.1 and I'm still seeing this error - it is preventing me from provisioning with Puppet on Ubuntu 16.04.

[2016-12-15 16:14] stephencooke opened #8124 "Issue or feature request :: get the name of the provider as a value in Vagrantfile"
Please note that the Vagrant issue tracker is reserved for bug reports and
enhancements. For general usage questions, please use the Vagrant mailing list:
https://groups.google.com/forum/#!forum/vagrant-up. Thank you!

### Vagrant version
Run `vagrant -v` to show the version. If you are not running the latest version
of Vagrant, please upgrade before submitting an issue.
Vagrant 1.8.4
### Host ope

[2016-12-15 17:41] iDVB opened #8125 "No live threads left"
### Vagrant version
Vagrant 1.9.1

### Host operating system
macOS Sierra (10.12.1)

### Guest operating system
ALL/ANY

### Vagrantfile
[code]

### Debug output
[Error Msg](https://gist.github.com/iDVB/ddf1376c89aebd9f19e655d08b8db1b3)

### Expected behavior
VM should have installed and launched

### Actual behavior
Error `join': No live threads left. Deadlock?

### Steps to reproduce
1.   vagran

[2016-12-15 19:21] daveespo opened #8126 "vagrant up fails with: Invalid argument - ruby_setenv() (Errno::EINVAL)"
When `Vagrant::Util::Env.with_original_env` is called, it horks a

Invalid argument - ruby_setenv() (Errno::EINVAL)

I've tracked this down to https://github.com/mitchellh/vagrant/blob/master/lib/vagrant/util/env.rb#L9 and when dumping the contents of `Vagrant.original_env` to the console, I see that it has a blank string key (the complete stack trace is in the gist linked below):

[code]

If I re

[2016-12-15 19:37] morgajel commented on #7731
I'm currently trying to convince my colleagues to use a vagrant/ansible dev environment. It works great for the OSX users, but windows is a sore point since ansible doesn't play well natively on windows.

If Vagrant-on-windows could use the Ansible-on-linux-subsystem it would make me soooo happy.

[2016-12-15 20:30] panique commented on #8061
Same here, i can reproduce the problem on my own local boxes but also on totally new ones (loading any vagrantfiles from any projects on the web, vagrantfiles that worked perfectly for years, and now they fail due to NFS issue.)

[2016-12-15 20:55] matleh commented on #8061
One workaround is to use unfs3d instead of the nfsd server included with MacOS.

[code]
The `exports` file has another syntax then for the "normal" nfsd. I use something like:

[code]

[2016-12-15 21:12] mauricios commented on #4111
I can confirm the same issue in macOS Sierra.
ubuntu/trusty64 box
VirtualBox 5.1.8
Vagrant 1.9.0

[2016-12-15 22:33] michael-fei commented on #7161
+1

I'm experiencing the same issue.

Vagrant version: 1.9.1
VirtualBox version: VirtualBox-5.0.30-112061-Win
Host computer OS: Windows 7

[2016-12-16 02:44] mvermaes commented on #7763
For what it's worth, here is the procedure we use: https://github.com/mvermaes/centos-vmware-tools. Like @dky mentioned, using open-vm-tools, plus the HGFS driver from the proprietary tools for synced folder support is the best option we've found so far. vagrant reload/kernel update hasn't really been tested though.

This is for the official centos/7 box, but Bento's experiment with only relying o

[2016-12-16 08:43] razbakov commented on #7646
@rdonkin i added IPv6 to hosts. It is not breaking.

[2016-12-16 09:51] mylonasg88 commented on #3118
I fixed it by adding these lines in the end of Vagrantfile:
[code]

[2016-12-16 12:01] mstenta commented on #6871
Ah nevermind - I see that it is a separate issue: #5615

[2016-12-16 12:49] 4m3ndy commented on #7648
Thanks @DanHam for the fix, this was what I exactly needed.

[2016-12-16 13:11] james-pearce-aerian commented on #8125
I'm having a similar issue details below

Vagrant version - Vagrant 1.9.1

Host operating system - OS X El Capitan (10.11.6)

Guest operating system - ALL/ANY

Error - No live threads left. Deadlock?

[2016-12-16 14:06] tembra commented on #8056
This error occurs because the Ubuntu tries to raise all your network interfaces, but your cable isn't connected, then he waits until his timeout.

You have two ways to solve this issue:

1) You can edit your Vagrantfile and add these lines in the end of `Vagrant.configure` loop:
[code]

2) You can edit your .ovf file of your VM and add `cable="true"` in the `<Adapter .. >` tag. Everything should w

[2016-12-16 16:45] rlaveycal opened #8128 "Hyper-V disk file not deleted by Test-Kitchen"
### Vagrant version
1.9.1

### Host operating system
Windows 10 1607

### Guest operating system
N/A

### Expected behavior

Using Chef's Test-Kitchen with the vagrant provider to create a Hyper-V machine, `kitchen destroy` doesn't delete the virtual disk file.

When using vagrant directly `vagrant destroy` does delete the entire hyper-v folder

This could be related to the `delete_vm.ps1` script

[2016-12-16 17:06] chrisroberts commented on #8125
@james-pearce-aerian can you provide a gist of `vagrant up --debug` output? Thanks!

[2016-12-16 17:14] james-pearce-aerian commented on #8125
@chrisroberts here you go

https://gist.github.com/james-pearce-aerian/a5b9df3571ca550bcc9e053080433bfd

[2016-12-16 18:47] samwho commented on #8056
I'm afraid your solution didn't work. I still have the same issue after attempting solution 1. I did not attempt solution 2 because I couldn't find any .ovf files.

[2016-12-16 18:58] tembra commented on #8056
Your Vagrantfile should look like this:
[code]

When you create a VM with Vagrant with VBox as provider your VM files (e.g: .ova, .ovf, .vbox, .vmdk, etc.) should be located in the default VBox folders where VMs is stored.

On Windows these files are default stored at `C:\Users\xxx\VirtualBox VMs` where `xxx` is you username.

I mention .ovf file, but I mean .vbox file. These files contain the def

[2016-12-16 19:03] rozagh commented on #8061
@matleh can you also put the vagrantfile command?

[2016-12-16 19:13] ricardowong commented on #7731
@ryanerwin @morgajel
A workaround is to run vagrant on windows natively and then call Ansible playbooks from WSL bash.

You can't provision thorugh ansible directly yet, since ansible is not available on windows. And virtualbox is not able to run in WSL. I've managed to run virtualbox at WSL by adding it to the PATH thanks to the recent update that allows calling windows native executables from ba

[2016-12-16 19:16] geerlingguy commented on #7731
@ricardowong - IIRC, that feature is only available to those in the Insider Preview program at this time, as it's not in the Anniversary Update. That said, is there a way to get that feature running on the non-insider build at this time?

[2016-12-16 19:36] ricardowong commented on #7731
@geerlingguy not that I know of sorry. It's available from build 14951
https://msdn.microsoft.com/en-us/commandline/wsl/release_notes#build-14951

There **is** this project that allows running windows native executables, it may be of your interest https://github.com/xilun/cbwin

[2016-12-16 20:23] MaxG4 opened #8129 "cannot load such file -- bundler"
Please note that the Vagrant issue tracker is reserved for bug reports and
enhancements. For general usage questions, please use the Vagrant mailing list:
https://groups.google.com/forum/#!forum/vagrant-up. Thank you!

### Vagrant version
Vagrant 1.9.1

### Host operating system
MacOS 10.12.2

### Guest operating system
CentOS & Cumulus Linux

### Vagrantfile
# Created by Topology-Converter v4.5.1

[2016-12-16 20:49] devtosystems commented on #7039
I'm not founded `zlib` for Debian 8 jessie uk repositories.

And problem continues.

* Compile qemu with `./configure`

[code]

I try to install vagrant-libvirt plugin and this error appears:

[code]

[2016-12-16 20:58] 20percent commented on #4251
http://stackoverflow.com/questions/21076725/net-scp-waiting-until-time-out-in-capistranos-gitwrapper-task/41192334#41192334

[2016-12-16 21:04] samwho commented on #8056
My .vbox config has many Adapter elements and they all have cable="true" on them.

      <Network>
        <Adapter slot="0" enabled="true" MACAddress="080027F082D6" cable="true" speed="0" type="82540EM">
          <DisabledModes>
            <InternalNetwork name="intnet"/>
            <NATNetwork name="NatNetwork"/>
          </DisabledModes>
          <NAT>
            <DNS pass-domain="true" u

[2016-12-16 22:08] amacnamara opened #8130 "Forwarded ports not being released with VMWare Fusion 8.5.3"
### Vagrant version
Vagrant 1.9.1

### Host operating system
macOS 10.12.1 (16B2659)

### Guest operating system
Red Hat Enterprise Linux Server release 6.7 (Santiago)

### Vagrantfile
[code]

### Expected behavior
When the machine is shut down, the forwarded ports should be freed up to be used by other vms.  The port forwarding entries in /Library/Preferences/VMware\ Fusion/vmnet8/nat.conf should

[2016-12-16 22:40] ploxiln commented on #7368
Looks like #8051 only fixes this message for mounts, not for inline shell provisioner

[2016-12-17 03:40] hdeadman commented on #8096
Is it a problem that vagrant 1.9.1 is not setting the correct labels on the ifcfg-* file it creates for the private nic it adds?  I am seeing error in audit2allow and the selinux labels (as well as file owner and permissions) on the ifcfg-eth1 file are messed up. Centos 7.3

I am defining nic in vagrant file like so:
config.vm.network "private_network", ip: "192.168.33.10", nic_type: "virtio"

Not

[2016-12-17 18:38] SolidState214 commented on #6234
Ditto... I see this quite frequently. Very frustrating.

This command seems to work around it for me. I wonder why Vagrant seems to stop the services in the first place?
sudo /Applications/VMware\ Fusion.app/Contents/Library/vmnet-cli --start

[2016-12-17 18:41] ukoloff commented on #5534
I believe, rsync should be added to Vagrant on Windows. New user shouldn't fiddle with config files, just install and run.

I downloaded some packages from `mingw` and unpacked them into `C:\HashiCorp\Vagrant\embedded\bin`. After that rsync works likes a charm!

The downloaded packages are:
- libiconv-1.14-1-msys-1.0.17-dll-2.tar.lzma
- libintl-0.18.1.1-1-msys-1.0.17-dll-8.tar.lzma
- libminires-1.

[2016-12-17 23:37] cmarchent commented on #7619
I have a similar problem; but have existing inventories for real deployments made with ansible that I wan to be able to re-create as vagrant images (to test before we deploy to Live). The ansible inventories contain key information like the groups that the host belongs to meaning that we need to go through a lengthy and error prone process of copying the inventory config into a Vagrant file - and

[2016-12-18 03:44] ryanerwin commented on #7731
@geerlingguy the anniversary release of Windows 10 already includes WSL, and big WSL improvements will be available in the two Windows 10 releases that come out in 2017. Personally I'm a sysadmin that's been using a Mac since 2000, and am very happy with WSL as a development environment, already more convenient than Darwin in many ways though not yet feature complete - MSFT is improving it very qu

[2016-12-18 04:51] tembra commented on #8056
Hmm.. too much strange!

Try to change `--cableconnected1` to `--cableconnected0` at Vagrantfile. It seems that your VM use slot 0 for tunneling with your pc.

[2016-12-18 14:25] wojcikm commented on #6764
Unfortunately this solution does not work for me. Error stays where it was. Actually Im runnning out of ideas what do to next. Reinstalled many times everysthing, tried different versions. What is interesting, Curl itself works (when i type in cmd curl "www.google.com" it gives a respond), but still throwing that error of login.

[2016-12-18 14:54] anjaneyaprasad commented on #5001
@Ozsiix you saved me...

[2016-12-18 14:55] gildegoma commented on #7552
Hello Guys! A few updates that might interest you:

* The new PR #8131 would allow to override the `ansible(_ssh)_host`, but via an extra variable (instead of an inventory variable). Your feedbacks are welcome there!
* I plan to push a first bunch of fixes for #6570 within the next weeks.

[2016-12-18 15:14] gildegoma commented on #7552
**ERRATUM:** Sorry for my previous comment, #8131 addresses an issue with a static inventory, while the topic here is about a possible enhancement of the dynamic inventory capabilities.

[2016-12-18 15:50] pvdhoef commented on #8076
Compression is currently disabled in [Win32-OpenSSH](https://github.com/PowerShell/Win32-OpenSSH) (see PowerShell/Win32-OpenSSH#102).

I created a workaround for this issue by packaging a simple shell script with the base box.
The script is named `ssh-without-compression` and has the following contents:
[code]
Together with the following setting in the `Vagrantfile` of the base box:
[code]

With t

[2016-12-18 16:11] zaufi commented on #8076
yes, it is [indeed](https://github.com/mitchellh/vagrant/issues/8080)

fortunately I'm a Gentoo user and my current ["workaround"](https://github.com/zaufi/zaufi-overlay/blob/master/app-emulation/vagrant/files/vagrant-1.9.0-do-not-use-ssh-compression-8076.patch) needs less actions for me... ;)

[2016-12-18 17:52] samwho commented on #8056
Here's what I get after making your suggested change:

[code]

I'll try updating to the latest VirtualBox.

[2016-12-18 18:00] samwho commented on #8056
I updated to 5.1.10 r112026 and at first tried removing the modifyvm stuff in my Vagrantfile to see if it would work without it. It did not, I got the same problem about waiting to raise network interfaces at startup.

I added the following back in:

  config.vm.provider "virtualbox" do |vb|
    vb.customize ["modifyvm", :id, "--cableconnected1", "on"]
  end

And there's no difference, still waits

[2016-12-18 23:20] tembra commented on #8056
Ok, VM commend is about number of Adapter (1, 2, 3, ...) and not about the slots. That's why you got the error when changed `--cableconnected1` to `--cableconnected0`. My mistake.

Sorry guy but I don't know how to help you. I did not experience any issue after make this changes.

[2016-12-19 04:31] xenithorb commented on #8130
I'm also seeing this with Libvirt on Fedora 25, vagrant version `1.8.5` I believe it's related.

My workaround is to `killall -u user ssh` inbetween sessions, since it seems to be forwarding via SSH

[2016-12-19 06:37] nirajp commented on #2969
For me, `.vagrant/machines/` already had a `default` folder, while `vagrant up` was trying to create a new folder with `machinename`.
It worked, after I deleted the new `machinename` that vagrant tried to create & renamed `default` to `machinename`.

[2016-12-19 09:05] mafrosis commented on #7771
One workaround for when this happens is to SSH directly into your VM, rather than using `vagrant`. For example:

    ssh -v -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i .vagrant/machines/default/vmware_fusion/private_key vagrant@172.16.8.149

[2016-12-19 10:02] madhavajay commented on #7157
Yeah this is confusing, im on El Capitan 10.11.6 (15G1108) the latest Vagrant 1.9.1 and Virtualbox Version 5.1.10 r112026 (Qt5.6.2) are not working out of the box.

I tried the nfs options for about 30 minutes with everything from everywhere on the net and nothing works. It seems like the default is now rsync which doesnt update either file system when a change is made, but using the above:
config

[2016-12-19 10:30] skvl commented on #8117
@mitchellh isn't this a problem?

[2016-12-19 12:34] axos88 commented on #8101
@chrisroberts

[2016-12-19 13:26] gtirloni commented on #8104
Maybe this is related (also seeing same issue with Packer): https://www.virtualbox.org/ticket/12477

[2016-12-19 13:30] wooyek opened #8132 "Allow to set box disc size on startup"
It would by nice if one could specify a box initial disk size in the vagrant file.

[2016-12-19 18:42] user0007 opened #8136 "NetSSHException: An error occurred in the underlying SSH library that Vagrant uses."
### Virtualbox
5.1.10 (x64)

### Vagrant version
1.9.1

### Host operating system
Xubuntu 16.10 (xfce)

### Guest operating system
Ubuntu 16.04

### Vagrantfileu
[code]

### Debug output

### Expected behavior

### Actual behavior
Reconnecting to ssh over 5-6 minutes.

### Steps to reproduce
1. vagrant up

Killing the ssh-agent (`$ killall gnome-keyring-daemon && ssh-agent -k`) do nothing.

[2016-12-19 19:01] gsingh93 opened #8137 "Provision script not being reuploaded on Windows guest with WinRM"
### Vagrant version
Vagrant 1.9.1

### Host operating system
macOS 10.12

### Guest operating system
Windows 7

### Vagrantfile
[code]

### Debug output
https://hastebin.com/ogepefumul.rb

### Expected behavior
The latest provision file should have been executed. This works on Linux (with SSH) but not on Windows (with WinRM).

### Actual behavior
The old provision file was executed.

### Steps to

[2016-12-19 19:20] panique commented on #5424
Still happening on latest Vagrant 1.9.1 :(

[2016-12-19 19:54] ebenoist commented on #7948
Deleting the lines in `nat.conf` in addition to killing the `networking` file is what did the trick for me.

[2016-12-19 22:26] mliebelt commented on #7823
Sorry that I needed so long. Here are some news, but they won't help you (but me):

* I found the following issue which described a similar behavior as I have seen: https://github.com/Maximus5/ConEmu/issues/692
* I checked then the following:
  * Started directly Git Bash (not ConEmu, then inside Git Bash).
  * Went there to directory for vagrant, and started `vagrant up` as usual.
  * I got the o

[2016-12-19 22:45] andronat opened #8138 "NFS synced_folder is broken under 1.9.1"
### Vagrant version
1.9.1

### Host operating system
ProductName:	Mac OS X
ProductVersion:	10.11.6
BuildVersion:	15G1212

### Guest operating system
Centos 7

### Vagrantfile
[code]

Please note, if you are using Homestead or a different Vagrantfile format, we
may be unable to assist with your issue. Try to reproduce the issue using a
vanilla Vagrantfile first.

### Debug output
Provide a link to

[2016-12-19 22:50] andronat commented on #8138
I downgraded to `1.8.7` and the above Vagrant config works normally

[2016-12-20 00:54] twomasz commented on #6896
I get also help output and exit code `1` after `vagrant share`.

Vagrant.configure(2) do |config|
  config.vm.box = "debian/contrib-jessie64"
  config.vm.network "forwarded_port", guest: 80, host: 8080
end

Host OS: `Linux tomas-Latitude-E4200 4.4.0-53-generic #74-Ubuntu SMP Fri Dec 2 15:59:10 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

Guest: `Linux contrib-jessie 3.16.0-4-amd64 #1 SMP Debian 3.16.

[2016-12-20 04:33] twomasz commented on #6896
I finally installed an original one from [Vagrant](https://www.vagrantup.com/downloads.html). Now it's ok.

[2016-12-20 08:23] dddpaul commented on #5590
Hello.

I have the similar issue with Vagrant 1.9.1, VirtualBox 5.1.10 on MacOS Sierra (10.12.2) and Ubuntu 16.04 with Centos 7.3 (centos/7 box).

Box network settings in Vagrantfile:

[code]

Network configuration inside box:

[code]

But `eth1` is in down state actually:

[code]

The workaround is to restart `network` service while provisioning. For example (for Ansible):

[code]

[2016-12-20 09:44] zhoujun165 opened #8139 "Failed to create the VirtualBox object"
E:\>vagrant up
Bringing machine 'default' up with 'virtualbox' provider...
There was an error while executing `VBoxManage`, a CLI used by Vagrant
for controlling VirtualBox. The command and stderr is shown below.

Command: ["list", "hostonlyifs"]

Stderr: VBoxManage.exe: error: Failed to create the VirtualBox object!
VBoxManage.exe: error: Code E_NOINTERFACE (0x80004002) - No such interface suppo

[2016-12-20 10:27] toonvdn commented on #8061
Spilled couple days on this, but I managed to get it working (for now at least):
- vagrant destroy
- remove the user data folder (~/.vagrant.d/)
- remove the vagrant project folder (.vagrant)
- vagrant up

I reinstalled VirtualBox and Vagrant itself a couple of times, so I don't know whether that could've done the trick, but last thing I did was as described above - and it works.

This makes me th

[2016-12-20 10:41] matleh commented on #8061
@rozagh actually, I don't use Vagrant - this problem also occurs with docker-machine-nfs.
I already moved away from my "solution" again, because it seemed like performance of the unfs3 setup was unbearable.

I am back to stock nfsd and running `ls -lr > /dev/null` on the host from time to time...

[2016-12-20 12:06] francisrod01 opened #8140 "Problem to mount NFS synced folder in any provider"
Hi guys!

I have the same problem of synced folders, but in all providers.
**My OS:** Debian Jessie AMD 64 bits.
This question is distinct to issue #6769

For example, to using `debian/jessie64`:

output here:

[code]

Now, to using `debian/contrib-jessie64`:

[code]

And so, using my box of work (also not run), `ubuntu xenial 64 bits`

[code]

And I have already entered the public key of my machi

[2016-12-20 13:06] mrceperka commented on #6871
@Jsgoller1  sollution (upgrade to vagrant 1.9.1 from official site) **solved** my issue

**Original problem:**
[code]

[2016-12-20 14:35] shanegibbs opened #8141 "**VMware** provider ability to expand disk"
There have already been requests regarding this. See: https://github.com/mitchellh/vagrant/issues/6143, https://github.com/mitchellh/vagrant/issues/4594, https://github.com/mitchellh/vagrant/issues/4232, https://github.com/mitchellh/vagrant/issues/2339.

However, the solutions to these require using the `vm.customize` option of the VirtualBox provider. As far as I can tell, this does not exist on

[2016-12-20 17:03] dgersting opened #8142 "Vagrant fails to bring private network up after creating it"
It seems that Vagrant is failing to bring the private network it creates up after creating it. Looking though the code and commit history I think this is a regression introduced by https://github.com/mitchellh/vagrant/commit/67f3c8b48cc51c2489d0d9258b778be7355804c2

### Vagrant versionf
[code]

### Host operating system
My host is macOS 10.12.2

### Guest operating system
I'm running Bento's CentO

[2016-12-20 17:27] #7996 closed

[2016-12-20 18:38] dgersting commented on #8142
I just checked, and this works fine in Vagrant 1.9.0 so it does look like a regression.

[2016-12-20 18:55] tpodom commented on #8142
I'm running into this as well.  It looks like the commit 67f3c8b dropped the ifup on the interface and expects the network manager to bring it up.  However, the script that's installed has <code>NM_CONTROLLED=no</code>.  If I set that to yes and restart NetworkManager.service then it does bring the device up.  So it seems like either ifup needs to be called manually or NM_CONTROLLED needs to be <c

[2016-12-20 19:14] tonylambiris commented on #8096
@karlkfi maybe just enable NM_CONTROLLED inline?

[code]

I would guess a large amount of RHEL-like vagrant machines will be running NetworkManager out of the box, but if they wish to change that it should be up to the end-user to implement any non-standard behavior either in a provision script or by creating a file via the kickstart config like so:

[code]

FWIW in our packer builds we also inclu

[2016-12-20 19:17] vbalastegui commented on #8142
I have the same problem:
- Host: Mac OS X El Capitan Version 10.11.6
- Guest: Centos 7: https://atlas.hashicorp.com/centos/boxes/7/versions/1611.01

`vagrant up --debug` :
https://www.dropbox.com/s/bvsnid3k2mj3mab/vagrant.log?dl=0

[2016-12-20 20:00] igloude commented on #7310
Bump - this is a rather large issue for my team right now.

[2016-12-20 20:31] karlkfi commented on #8096
Good to know about `NetworkManager-config-server`, thanks.

As for enabling `NM_CONTROLLED` inline, that just feels like such a hack. Vagrant already generates the ifcfg file. The generation should really be updated to optionally support NetworkManager, based on some sort of overridable config with an intelligent auto-detected default.

[2016-12-20 20:52] DerekTBrown commented on #7552
Not sure how #6570 will fix this. The issue I have is with the value, and not the key. SSH on my VMs are not bound to 127.0.0.1, which is what Vagrant supplies to Ansible.

[2016-12-20 21:52] gildegoma commented on #7552
@DerekTBrown my comment about #6570 was only about your _first concern_ in the original issue description

which is addressed by #6570.

Indeed, this current issue #7553 now only focuses on your _second concern_ (and issue title):

**Allow to override/shadow the ansible_ssh_host (ansible_host) in generated inventory**

Making the provisioner able to detect `ansible(_ssh)_host` and `ansible(_ssh)_p

[2016-12-20 22:36] xenithorb opened #8144 "Vagrant up in Konsole eats my input (example gif included)"
### Vagrant version

1.9.1

### Host operating system

Fedora 25 KDE

### Expected behavior

Vagrant should not affect the well being of the current terminal as far as consuming input characters.

### Actual behavior

`vagrant up` (only when a vm actually begins running, to include remotely with libvirt) consumes every other keystroke from the `konsole` commandline. In layman's terms every time I

[2016-12-20 22:40] xenithorb commented on #8144
I also forgot to mention the most important and empirical part!

If you run vagrant with `vagrant up <box> </dev/null` it also doesn't seem to occur.

[2016-12-21 01:02] dbichko opened #8145 "Shell provisioning using docker-exec instead of SSH"
As @chrisroberts suggested, I am resubmitting the feature request from #4179, since it wasn't actually addressed by #7377.

Being able to provision containers in the docker provider without an SSH daemon would greatly simplify (and speed up!) configuration, especially for multi-machine setups.

I currently have multiple `Dockerfiles` that just add sshd to public images from Docker Hub (postgresql,

[2016-12-21 01:53] oleyka commented on #8061
This thread might be related: https://discussions.apple.com/thread/7760267?start=0&tstart=0

[2016-12-21 02:49] tonylambiris commented on #8096
@karlkfi I believe the default/only solution should just be to restart the network service and let the system configure take care of whether it should restart NetworkManger.service or something else like systemd-networkd.service.

[2016-12-21 03:47] karlkfi commented on #8096
@tonylambiris: That's what it used to do. If that worked everywhere, it wouldn't have been changed in the first place.

[2016-12-21 12:39] daryn-k commented on #5319
Help. I have same problem. I can't wait 3 hours! Very slow! Stupid!

[2016-12-21 14:09] smelchior commented on #8138
I also have this issue.
I dug a bit deeper and it happens due to this change in 1.9.1:
https://github.com/mitchellh/vagrant/commit/166d10d4e16836e908be0bd94c2f671cac2b38b4
NetworkManager is running for centos7 but it is not managing the private network interface due to the ``` NM_CONTROLLED=no``` that is used [here](https://github.com/mitchellh/vagrant/blob/master/templates/guests/redhat/network_s

[2016-12-21 14:15] brazitec commented on #5319
i gave up a year ago..download to slow.. problems after down load.. have to download for 3 hours again.... Vagrant will not fix the problem that has been there for several years now.. you would think that after 3 or 4 years of this problem they would address the issue.....

[2016-12-21 14:47] daryn-k commented on #5319
I hate you all!

[2016-12-21 16:12] Artistan commented on #8096
Just for the sake of more information:  same issues for me on CentOS7 with Vagrant 1.9.1
details here: https://github.com/puphpet/puphpet/issues/2533

[2016-12-21 16:33] tonylambiris commented on #8096
@karlkfi For me running `ifup eth1` on CentOS 7.3 and 1.9.1 configures the interface without having to restart any services.

[2016-12-21 19:42] pollosp commented on #8061
For sure, this is going to work for all cases, but we are using this plugin  https://github.com/Learnosity/vagrant-nfs_guest as work around.
Agree that it could be a MacOS Sierra problem.

[2016-12-21 20:59] blissdev commented on #8061
@pollosp are you using it on Sierra with success?

[2016-12-21 22:02] jbw976 commented on #8125
I am able to reproduce this on Vagrant 1.9.1 for Mac OS X El Capitan 10.11.4, when attempting to vagrant up the env provided in https://github.com/coreos/coreos-kubernetes/tree/master/multi-node/vagrant.

Full debug output can be found here, let me know if I can gather any more information:
https://gist.github.com/jbw976/cfc5b7997cb106724d16db5df65f65c2

[2016-12-21 22:04] wkretzsch commented on #5319
Lol, I hate you too @daryn-k :)

[2016-12-22 00:08] mikefaille commented on #8142
### Vagrant version
Vagrant 1.9.1

### Host operating system
NixOS 16.09.git.3414ae5 (Flounder)

### Guest operating system
Red Hat Enterprise Linux Server release 7.3 (Maipo)

### Debug output
[code]

### Expected behavior
in this file, `/etc/sysconfig/network-scripts/ifcfg-eth1'` we should retrieve :
[code]

### Actual behavior
But, in this file, I `/etc/sysconfig/network-scripts/ifcfg-eth1'` i

[2016-12-22 01:19] darkn3rd opened #8147 "vagrant 1.9.1 pristine message from plug-in (sqlite3)"
I have some Vagrantfiles that use sqlite to enumerate systems and some configuration options.  The only way to make sqlite accessable was to run `vagrant plugin install sqlite3`.  Before this worked fine, but with Vagrant 1.9.1, I am  getting some message about using pristine and extensions not built.

### Vagrant version

`1.9.1`

### Host operating system

Mac OS X Sierra

### Guest operating sy

[2016-12-22 05:16] lauriii commented on #5590
I'm running Ubuntu 16.10 and Centos 7 on the guest. I'm having similar networking issues where a private_network IP is not being assigned for the guest even though though the virtual network exists. Downgrading from Vagrant 1.9.1 to 1.8.7 fixed this for me.

[2016-12-22 07:50] mvolhontseff commented on #8096
Reproduced issue on Vagrant 1.9.1 and Centos 7.1.

Host-only adapter (eth1) doesn't come up, because "service network restart" never runs after Vagrant creates ifcfg-eth1.  This is because NetworkManager service is running/enabled by default, so conditional logic within the regression restarts NM, but not the network service.

After reviewing some of the function defs in /etc/sysconfig/network-scr

[2016-12-22 09:43] razbakov commented on #7646
The problem occurs again.

Doesn't help anymore.

[2016-12-22 11:38] hotmeatballsoup opened #8149 "Vagrant user doesn't seem to natively have sudo/root permissions"
I'm trying to determine if there's a bug in Vagrant or in nginx.

I have the following `Vagrantfile`:

    Vagrant.configure("2") do |config|
      config.vm.box = "hashicorp/precise32"
      config.vm.network "private_network", ip: "10.0.1.7"
      config.vm.network :forwarded_port, guest: 8080, host: 9005
    end

So I run `vagrant up && vagrant ssh` and the server provisions and spins up. I wan

[2016-12-22 12:46] pollosp commented on #8061
@blissdev yes, with sierra

[2016-12-22 13:42] while0pass commented on #7200
Just a quick piece of info if it helps somehow. I don't use vagrant, but I have a similar problem with Virtualbox 5.1.12, Windows 7 and Cygwin. The shared folder opens well within Windows, but Cygwin doesn't see it. There was no problem with previous versions of Virtualbox. In my case the problem is only observed when cygwin is run as Administrator (as I'm used to doing). There is no problem when

[2016-12-22 15:18] djzara opened #8150 "VB Guest additions still doesn't function properly"
Please note that the Vagrant issue tracker is reserved for bug reports and
enhancements. For general usage questions, please use the Vagrant mailing list:
https://groups.google.com/forum/#!forum/vagrant-up. Thank you!

### Vagrant version
Run `vagrant -v` to show the version. If you are not running the latest version
of Vagrant, please upgrade before submitting an issue.

Vagrant 1.9.1

### Host o

[2016-12-22 15:32] djzara commented on #8150
There was an issue with one of the file paths themselves that was being mounted, I can diagnose from here

[2016-12-22 15:32] #8150 closed

[2016-12-22 16:05] alisade commented on #5016
thanks @nestorpina, same solution worked for me
Virtualbox: 5.1.8 r111374 (Qt5.5.1)
Vagrant: Vagrant 1.8.7
OSX El Capitan 10.11.6 (15G1212)

[2016-12-22 18:14] mvolhontseff commented on #8096
@kikitux
Switching all interfaces to NM controlled on RHEL/Centos 7 is not a great solution, imho.  Many purposefully disable NM and prefer to use the network service instead.

[2016-12-22 18:51] jamesalbert commented on #4487
Late to the party here. @infernix does that mean when vagrant is "Waiting for machine to boot", that it's normal for it to fail? If so, is there any way of confirming that it actually pxe booted?

[2016-12-22 19:07] mschuchard opened #8151 "Expose Vagrantfile validation code to CLI"
Are there any plans or some kind of hidden ability to expose the Vagrantfile validation code to come kind of CLI option? e.g. Terraform has validate and plan options in its CLI. I am interested in something analogous for Vagrant.

(If this sounds interesting, please mark as Feature Request; if not, go ahead and close and I can look at developing some kind of plugin for it)

[2016-12-22 19:21] tonylambiris commented on #8096
It would be advisable to leave any specific  completely out of the logic checks as one could use `systemd-network.service` for configuring network interfaces.

[2016-12-22 19:28] mvolhontseff commented on #8096
@tonylambiris
Is that backward-compatible with RHEL/CentOS 6?

[2016-12-22 19:38] vmmello commented on #3532
This is a bit an unrelated question, but it's not very far from what is being asked here...

Is it safe for directory `$VAGRANT_HOME/boxes/` to be a symlink to an external directory, e.g. `/mount_point_with_more_space/vagrant/boxes`?

[2016-12-22 19:44] tonylambiris commented on #8096
@mvolhontseff no systemd was introduced in RHEL7

[2016-12-22 19:55] neykov opened #8152 "Machine name "b2" treated as "default""
### Vagrant version
Vagrant 1.9.1

### Host operating system
macOS Sierra

### Guest operating system
Any

### Vagrantfile
[code]

### Debug output
https://hastebin.com/uhixekuwub

### Expected behavior
[code]

### Actual behavior
[code]

### Steps to reproduce
1. Use the Vagrantfile above
2. Execute "vagrant status" on it

[2016-12-22 20:46] mikefaille commented on #8096
My pull request should help us : https://github.com/mitchellh/vagrant/pull/8148

In RHEL5/6/7 restarting network using : service network restart
work for nm users and others.

[2016-12-23 03:04] danbenson commented on #8125
Getting the same on Vagrant 1.9.1, MacOS Sierra 10.12.2 on vagrant up.

[2016-12-23 16:15] joelhandwell commented on #8126
Getting same issue. I'm also on Windows 10, with vagrant 1.9.1 and vagrant-berkshelf plugin. using chef-zero provisioner.
Getting error at [line 9 of the env.rb](https://github.com/mitchellh/vagrant/blob/master/lib/vagrant/util/env.rb#L9)
Error comes when using chef provisioner with vagrant-berkshelf plugin and did not get error while just running ```vagrant init -m ubuntu/trusty64 && vagrant up``

[2016-12-23 18:23] andrewrothstein commented on #5590
Host: Fedora 25
Guest: CentOS 7
Virtualbox: 5.1.12r112440
Vagrant: v1.9.1

I'm suffering from this issue corresponding to the 1.8.7 to 1.9.1 upgrade. The proposed workaround by @ogrange works for me.

[2016-12-23 18:45] mikefaille commented on #7923
@tleyden

[2016-12-23 18:48] mikefaille commented on #7923
@tleyden Could you upgrade Vagrant to 1.8.7 ?

[2016-12-24 02:27] Oliveiras commented on #7749
I think the original title is more precise.
I also think the priority should be higher, because now Docker's site strongly encourages Windows users to use Docker for Windows. If they do (like me), they will have a working docker installation but unable to use the docker provider for vagrant. All that just because Vagrant think it must ensure there's a boot2docker VM.
A single configuration option

[2016-12-24 19:24] jenhsun commented on #8149
@hotmeatballsoup use provision (shell, chef, puppet or ansible), please. That's what vagrant all about. After that, you won't need to worried about your client. If something wrong, you can just destroy it and rebuild back to your custom setting by just `vagrant up`. No need to change your client setting again and again.
By the way, default ssh name is `vagrant`.  The nginx configuration should be

[2016-12-24 20:05] ilyash opened #8153 "Insecure by default - sharing project directory that has Vagrantfile"
As mentioned at https://www.vagrantup.com/docs/synced-folders/

Since virtualization is involved, people are likely to feel safe to run untrusted boxes they find on the Internet. It should be trivial for any malicious box to edit `Vagrantfie`, "escaping" the virtualization by placing arbitrary ruby code there. (Don't have working VirtualBox to test this at the moment.)

(Sorry if it's a duplicate,

[2016-12-25 16:45] wwek commented on #8138
Official version is still a problem, not updated

[2016-12-26 09:03] sadovnik opened #8154 ""VirtualBox has successfully been installed!" although it hasn't"
There's an inconsistency in what Vagrant outputs:

[code]

### Vagrant version
[code]

### Host operating system
OS X El Capitan 10.11.6 (15G1108)

[2016-12-26 12:26] dddpaul commented on #5590
Should we open a new issue?

[2016-12-26 15:58] willmurphyscode commented on #7832
I am experiencing the same issue, using vagrant 1.9.1 on Windows 10. I have two vagrant boxes, one exhibits this problem and one doesn't.

Works as expected: `config.vm.box = "hashicorp/precise64`
Errors out on `vagrant share` but otherwise works ok: `config.vm.box = "leopard/rwtrusty64"`

The main difference between the two boxes is Ubuntu version. The working one is precise 12.04 and the broken

[2016-12-26 18:52] Pysis868 commented on #7685
I've been trying to recreate this, I think ever since your version!  I upgraded to 1.8.6 to avoid an SSH key bug where it would not reconnect after inserting the more secure key, and now I am at 1.9.1 getting this weird condition again.

While trying to create a MVCE with simply a box instruction, I was not able to re-create this same situation.  Maybe I can try destroying and re-creating/-provisi

[2016-12-27 03:11] 321dh opened #8155 "vagrant/box_metadata.rb:35:in `[]': no implicit conversion of String into Integer (TypeError)"
当windows10执行vagrant box add --name laravel/homestead  metadata.json --provider virtualbox时，这个问题在vgrant 1.9.1、1.9.0、1.8.5都出现错误.

### Vagrant version
1.8.5

### Host operating system
windows10

### Guest operating system
VirtualBox-5.1.12-112440-Win

### Vagrantfile
[code]

### Debug output
D:/Vagrant/embedded/gems/gems/vagrant-1.8.5/lib/vagrant/box_metadata.rb:35:in `[]': no implicit conversion of

[2016-12-27 14:16] rumatoest commented on #5590
The same degradation Issue on ubuntu 16.10 and vagrant 1.9.1.
Downgrade to 1.8.7 helped.

[2016-12-27 23:20] blopker commented on #2248
If anyone stumbles across this, the only way I was able to get it working (kinda) was with:
[code]
Replace `PST` with whatever timezone you want.

Cheers!

[2016-12-28 01:21] danbenson commented on #8125
[debug.txt](https://github.com/mitchellh/vagrant/files/674848/debug.txt)

[2016-12-28 09:54] skvl opened #8156 "WinRM fails to configuring and enabling network interfaces"
### Vagrant version
Vagrant 1.9.1

### Host operating system
Linux

### Guest operating system
Windows 8, Windows 10

### Vagrantfile
[code]

### Debug output
[Log](https://gist.github.com/skvl/8192675cb1350bb9a9190defec647811)

### Expected behavior
Vagrant should not fail.

### Actual behavior
Vagrant fails this step.

### Steps to reproduce
1. `vagrant up mybox`

[2016-12-28 13:04] GrzegorzDrozd commented on #8145
Hi.
Please do that! I need to use bunch of shell scripts around Vagrant file to use docker-run BUT it would be so much easier to just inline that in Vagrantfile!

Thank you and have a nice day.

[2016-12-28 13:58] krzysztofantczak commented on #7731
@ricardowong no need for cbwin since few releases now. vagrant.exe can be issued directly from under WSL.

[2016-12-28 15:01] PeterDavidCarter opened #8157 "Vagrant freezes on 'SSH auth method: private key'"
### Vagrant version
v1.9.1

### Host operating system
Windows 10

### Guest operating system
Homestead/Ubuntu 16.04

### Vagrantfile
[code]

### Debug output
[Debug output (Gist)](https://gist.github.com/PeterDavidCarter/6a8a0352aef9ed5eff3cd098225d6d5b)

### Expected behavior
The vagrant box was expected to authenticate via private key.

### Actual behavior
The vagrant box froze on authenticating

[2016-12-28 15:23] geerlingguy commented on #7731
@krzysztofantczak - So far the integration that allows calling out to the windows environment from WSL is only in the Insider Preview program, it seems... meaning most users can't rely on it yet (until the next major public Windows 10 update)—and I can't point my project's users to that as a solution yet.

Once it's publicly available, it will be awesome :)

[2016-12-28 15:45] krzysztofantczak commented on #7731
@geerlingguy latest version of WSL is far more stable then the one published with anniversary update. I wouldn't recommend any user to use this version TBH.

[2016-12-28 15:49] Chashkin commented on #3118
@mylonasg88 Added but still does not work, it freezes and creates a link is nothing
![image](https://cloud.githubusercontent.com/assets/24776952/21525409/2a69c450-cd2e-11e6-8353-5c7d688b30ec.png)

[2016-12-28 17:08] geerlingguy commented on #5424
See related: https://github.com/mitchellh/vagrant/issues/8138

[2016-12-28 19:04] awibmer commented on #5673
@ravishtiwari Upgrading to Vagrant 1.9.1 solved this for me.

[2016-12-28 21:50] kelbyers commented on #6752
Is this issue still being used to consider the "booted" part of the initial comment? I find it annoying that restoring a snapshot made of a halted VM results in the VM being booted.

Is that issue still being considered?

[2016-12-28 22:57] rburkholder opened #8159 "securerandom error with virtualbox packaging process vagrant v1.9.0"
### Vagrant version
Vagrant 1.9.0

### Host operating system
$ uname -a
Linux z800 4.8.0-2-amd64 #1 SMP Debian 4.8.11-1 (2016-12-02) x86_64 GNU/Linux

### Debug output
[code]

### Expected behavior
should have built a package.box file

### Actual behavior
above error

### Steps to reproduce
[code]

### fix:
insert the string
[code]
at beginning of:

plugins/commands/package/command.rb

[2016-12-29 01:48] tapsboy commented on #8157
I have the same issue on OSX 10.11.6 (El Capitan) and Vagrant 1.9.1

[2016-12-29 03:36] devloprs opened #8161 "Can't install Vagrant Plugins Ubuntu 16.04"
Please note that the Vagrant issue tracker is reserved for bug reports and
enhancements. For general usage questions, please use the Vagrant mailing list:
https://groups.google.com/forum/#!forum/vagrant-up. Thank you!

### Vagrant version

1.8.5

### Host operating system
Ubuntu 16.10

### Guest operating system

none yet

### Vagrantfile
[code]

Please note, if you are using Homestead or a differ

[2016-12-29 06:01] ricardowong commented on #7731
@krzysztofantczak

Although right now i'm on the latest build, I've had trouble once when the microsoft team was forcing users to update to the latest version or the system would become unusable. I would have updated but Windows Update was broken so I was stuck with an older build and microsoft would randomly shut down the computer ( as an antipiracy measure, ironically as insider it wouldn't dete

[2016-12-29 06:03] wploey commented on #5024
good!

[2016-12-29 10:38] ping-the-one commented on #400
Seems like the kura project is abandoned but this fork is alive.
https://github.com/brbsix/vagrant-bash-completion

[2016-12-29 10:41] ameyaagashe commented on #5319
Guys why is this issue closed? This is still an outstanding issue and needs to be addressed ASAP. I am experiencing the same issue.

[2016-12-29 12:07] PeterDavidCarter commented on #8157
Reinstall of Vagrant didn't work for me, but I'm going to zero everything (cloned Homestead repository, Laravel box file etc) and try again later today. Will add comment with results.

[2016-12-29 12:16] krzysztofantczak commented on #7731
@ricardowong like i said, different people, expect different things. Also, "but Anniversary Update should be the only place anything you work on", no.  Like i said, it is too far behind. Perhaps its enough for people looking for linux'a'like experience ;) But when You find out, that pretty much anything related to networking is pure nightmare i think You will understand ;) Btw. latest build still

[2016-12-29 15:16] PeterDavidCarter commented on #8157
Removed Vagrant, Git Bash, Homestead and Laravel box and all references. Reinstalled all of these programmes using default settings. Deleted all private and public RSA keys and regenned without passphrase. Still sticks on `SSH auth method: private key` and will not progress past this step.

[2016-12-29 16:52] Ferdy89 commented on #3921
@chrisroberts I'm going to try it! 👍

[2016-12-30 05:08] ddavtian commented on #8125
Same here

[2016-12-30 16:17] darkn3rd opened #8162 "Zorin Cannot be Detected"
### Vagrant version
[code]

### Host operating system
[code]
### Guest operating system
[code]
### Vagrantfile
[code]

### Debug output

https://gist.github.com/darkn3rd/0fefac16097c90a96b3e96645dfbd4c2

### Expected behavior

Zorin is popular and is based from Ubuntu.  Vagrant cannot detect it...

### Actual behavior

[code]

[code]

### Steps to reproduce
1. `vagrant init devopstudio/zorin12-x64

[2016-12-30 18:48] darkn3rd commented on #8162
Also reproduced on:

[code]

[2016-12-30 20:38] alquesadilla commented on #8056
tembra your solution worked for me with option 1. Thank you and God Bless

[2016-12-31 15:47] aairey opened #8164 "Error installing vagrant plugins"
I cannot install the vagrant plugins `reload` and `hosts`. Ouput below.

### Vagrant version
1.8.5

### Host operating system
Fedora 25

### Debug output
https://gist.github.com/aairey/41da4af73d783a361292084dafa78233

### Expected behavior
Plugin should get installed.

### Actual behavior
Bundler throws an error.

### Steps to reproduce
1. Install vagrant from OS repository
2. run `vagrant plugin

[2017-01-01 13:23] stantond commented on #4347
@chrisroberts this would be fantastic! Is this still planned for one of the 1.9.X releases?

[2017-01-01 14:27] andronat commented on #8138
Any news on this? I'm completely blocked...

[2017-01-02 02:00] gkristic commented on #5590
Same thing here with CentOS 7. @dddpaul I think this deserves a new issue indeed.

[2017-01-02 08:04] dddpaul opened #8166 "private_network interface stays in "down" state on "vagrant up""
Hello.

Private network interface stays in "down" state without assigned IP address with Vagrant 1.9.1, VirtualBox 5.1.10 on MacOS Sierra (10.12.2) and Ubuntu 16.04 with Centos 7.3 (centos/7 box).

Box network settings in Vagrantfile:

[code]

Network configuration inside box:

[code]

But `eth1` is in down state actually:

[code]

There are couple of workarounds:

1.  Restart `network` service wh

[2017-01-02 10:11] IngoSteinke commented on #7766
Still occurs both on Windows 10 and Ubuntu 16.10!

[2017-01-02 15:26] mauricioabreu commented on #8140
@devtosystems I think this problem is related to Vagrant 1.9.1.
Try to downgrade to 1.9.0 and check if it works.

[2017-01-02 20:47] davidpodhola commented on #7906
This happened to me when I forgot to run `vagrant up` in elevated `cmd.exe`. Please try to open `cmd.exe` in `run as administrator`.

[2017-01-02 21:09] khromov commented on #6871
Same issue with `boxcutter/ubuntu1604`, Vagrant 1.9.1 does not solve the problem.

[code]

[2017-01-03 02:24] Dnefedkin commented on #7651
@pstengel ,  #7840 has not merged to master  so far, had to apply manually.

[2017-01-03 10:03] mrceperka commented on #6871
@khromov Are you trying to read something from **stdin**? Because that is not possible.

[2017-01-03 11:22] daks opened #8168 "Rsync blocked sending incremental file list on VM boot"
### Vagrant version
1.9.1

### Host operating system
Debian testing/stretch

### Guest operating system
debian/wheezy64, or debian/jessie64 or ubuntu/trusty64

### Vagrantfile
[code]

### Debug output
https://gist.github.com/daks/d60c30eb1b17e6f593f8a7d13f000a4a
I removed all information about other VM available on this machine

### Expected behavior
I expect vagrant to sync current host directory

[2017-01-03 12:57] jairojunior commented on #8166
Decided to investigate this and I'm very suspicious of either `plugins/guests/redhat/cap/configure_networks.rb` or `plugins/guests/redhat/cap/change_host_name.rb`

`network` service used to be restarted unconditionally, but it checks for `NetworkManager` instead in 191.

Not my area of expertise, but I'll try to fix locally.

https://github.com/mitchellh/vagrant/compare/v1.9.0...v1.9.1

PS: It wor

[2017-01-03 13:09] jairojunior commented on #8166
Just confirmed that rolling back to `service network restart` in `plugins/guests/redhat/cap/configure_networks.rb` fixes the problem.

[2017-01-03 13:14] jairojunior commented on #8166
It seems to already have an open PR for this: https://github.com/mitchellh/vagrant/pull/8148

[2017-01-03 14:41] devtosystems commented on #8140
Thanks @mauricioabreu I'll try this now.

[2017-01-03 16:42] Artistan commented on #8096
still having these issues. is there any timeline on this. my team is stuck.

[2017-01-03 16:45] mikefaille commented on #8096
@Artistan Concider downgrading vagrant to 1.9.0
 https://releases.hashicorp.com/vagrant/1.9.0/

[2017-01-03 16:46] Artistan commented on #8138
blocked here also...
reference that may be relevant to network issues...
https://github.com/mitchellh/vagrant/pull/8052

[2017-01-03 17:24] Artistan commented on #8096
Yep, IP works there, NFS does not... another issue.

[2017-01-03 17:29] mikefaille commented on #8096
@Artistan Allright, for NFS issues, try to start vagrant as root/sudoers. If it don't fix your case, I suggest you to open new issue describing your case.

[2017-01-03 19:19] SamMade commented on #6871
after update to 1.9.1 still getting issue with
config.vm.box = "ubuntu/xenial64"

==> default: Running provisioner: shell...
default: Running: inline script
==> default: mesg: ttyname failed: Inappropriate ioctl for device

[2017-01-03 20:29] spoage commented on #8024
I am experiencing this problem as well. After upgrading from 1.8.5 to 1.9.1, I can no longer spin up any VMs using the boxes I was originally building on (bento/centos-6.8) because those boxes were not built with the NetworkManager package installed. Specifically, it fails when attempting to run nmcli to force network manager to reload configs - nmcli is not present in the machine.

[2017-01-03 21:49] rozagh commented on #8061
I tried using nfs_guest but I still have file access issue. Did you just enabled the plugin and change the vagrant file to fix the issue or was there any additional steps?

[2017-01-03 21:58] rozagh commented on #8061
Also after I tried reloading my vm again, all my directory is removed!  Seems like the nfs_guest is moving the files somewhere but if your mounted directory is the same as where you have VM defined all the data will be inaccessible.

[2017-01-03 22:20] chrisroberts commented on #8129
Hi! This looks to be an issue with the vagrant-cumulus plugin using `Bundler` directly but not including it within the runtime dependencies. Vagrant's plugin manager no longer uses Bundler internally to manage plugins. The author of the vagrant-cumulus plugin will need to update their plugin to either explicitly require Bundler in their dependencies, or (the better option) detect if bundler is ava

[2017-01-03 22:20] #8129 closed

[2017-01-03 22:22] chrisroberts commented on #8108
Looks like this should be an easy fix by including a `File.expand_path`

[2017-01-03 22:27] chrisroberts commented on #8110
This is the expected behavior when pty is enabled as the output must be parsed. I see that there is no note of the behavior in the documentation so I'll label this as such to include a note there.

[2017-01-03 22:30] chrisroberts commented on #8116
Hi @johnament. Please include the debug output of the failed run. Thanks!

[2017-01-04 00:04] chrisroberts commented on #8153
Closing this as a dup of #8018.

@ilyash Thanks for the report. This configuration is by design and documented here: https://www.vagrantup.com/docs/synced-folders/

As vagrant is a development tool first, defaults configurations may not always be viewed as secure. However, the configuration of the Vagrantfile can disable or modify these configurations.

Cheers!

[2017-01-04 00:04] #8153 closed

[2017-01-04 03:14] bender-the-greatest opened #8169 "Vagrant does not URLEncode credentials when prompting for password using SMB synced_folder"
### Vagrant version
Vagrant 1.9.1

### Host operating system
Windows 10

### Guest operating system
OSX El Capitan, though since the error was a URL encoding error I'd imagine it also affects Linux or other BSD guests.

### Vagrantfile
[code]

### Expected behavior
Mount the SMB share and continue with provisioning steps.

### Actual behavior
Received an error with the `smb://` URL that was genera

[2017-01-04 04:55] cdaf commented on #7680
Thanks, this was a key missing ingredient. I'm working on building a 2016 image and this was a big stumbling block. I'm guessing @Mwrock has created his own rule, I used the default rule as follows...

[code]

[2017-01-04 16:02] bwlz commented on #8166
Sounds like a fix is about squared away, but I'm seeing this as well in Vagrant 1.9.1 with Virtualbox 5.1.10_Debian r112026 and the box 'geerlingguy/centos7'. The issue does not manifest with the VMware provider.

[2017-01-04 16:23] alexbowers opened #8171 "Expunge default choice"
vagrant version 1.9.1

Trying to expunge a plugin, the default choice is both Y and N.

[code]

[2017-01-04 16:24] alexbowers commented on #8171
It seems to default to N, but this isn't clear.

[2017-01-04 19:43] arturolinares commented on #4666
Any workaround? I tried manually editing /etc/exports with no luck. Might be a coincidence, but I'm also using geerlingguy/ubuntu1604 box.

[2017-01-04 21:16] imgali commented on #6431
Downgrading to Virtualbox 5.0.x solved the issue for me too

[2017-01-04 21:17] oroskodias commented on #6431
Downgrading to Virtualbox 5.0.x solved the issue for me too

[2017-01-04 22:10] hardyjohnson commented on #8166
@bwlz just a warning you may run into issues with subsequent boots as provision shell will only run on provision.

[2017-01-05 04:27] elialbert commented on #1198
I had this problem working off of a vagrant config in a github repo. I'd installed the box months ago and tried to `vagrant up` recently, and got this problem.
Long story short the vagrant config was old and out of sync with the box image. I pulled latest from the github repo, rmraffed the Virtual box directory, removed the machine from the virtual box list, and ran vagrant up again - it worked.

[2017-01-05 13:43] agrahamwd opened #8174 "Vagrant Up after Vagrant SSH remotely?"
How can someone ssh into my box and run `vagrant up`?

I have vagrant installed on my machine. My coworker connects to the websites on my machine by editing his hosts file like I do. Today he came in earlier than me and my vagrant box was halted. He was unable to start it back up until I came in.

I don't want my coworkers to `vagrant up` on their machine, as it will create a new box with new IPs,

[2017-01-05 17:32] michaelherold commented on #4666
FWIW, this problem _usually_ happens to me when I have two `vagrant up|halt` running at the same time. In that case, I think it's a race condition between the two processes that causes the duplicated entries.

[2017-01-05 18:16] dadgar commented on #8078
Any update?

[2017-01-05 18:19] chrisroberts commented on #8159
Fixed via #8160

[2017-01-05 18:19] #8159 closed

[2017-01-05 18:30] PierrePaul commented on #5850
Closing valid issues to reduce the issue count is the way forward for vagrant now?

[2017-01-05 20:16] rollerd commented on #2662
Building off of @Ajedi32 and @mpchlets solution, you can check for the arg to the vagrant command to prevent the script from running on say a `vagrant status` in a directory where a machine wasn't created yet:
[code]

[2017-01-05 20:45] BigPecan commented on #1737
Is this issue continued anywhere? I am using vagrant 1.91 on windows 10 with Hyper-V and getting that error "==> default: Running provisioner: puppet...
The `puppet` binary appears not to be in the PATH of the guest. This
could be because the PATH is not properly setup or perhaps Puppet is not
installed on this guest. Puppet provisioning can not continue without
Puppet properly installed." trying

[2017-01-05 22:53] stevenorell commented on #7948
Having this issue as well with VMWare Fusion 8.5.3. Deleting lines in nat.conf fixes the issue, but it appears that change gets overridden on restart.

[2017-01-05 23:33] trappar commented on #8147
I am also having this issue.

[2017-01-05 23:45] mikefaille commented on #8142
@dgersting It should be fix on this pull request : https://github.com/mitchellh/vagrant/issues/8148
For now, I suggest you to use https://releases.hashicorp.com/vagrant/1.9.0/

[2017-01-06 02:04] lantz commented on #8061
I've seen similar problems deleting files from an Ubuntu client mounting an NFS volume exported from macOS sierra. I see it frequently when trying to check out branches using `git`. I've noticed that if I create a file (e.g. 'touch some/dir/foo') in the offending directory, then I can remove the un-removable file.

I've only seen this with sierra/10.12 and higher. I never ran into the problem on 1

[2017-01-06 03:14] dominikzogg commented on #8061
@lantz a coworker of mine already submitted a bug report about 3 weeks ago, so they received reports, but it seems they aren't be able to handle it

[2017-01-06 09:47] marrrt commented on #8166
I'm experiencing this problem as well.

On `vagrant up` I see the following in /var/log/messages

[code]

I wonder if generating the `ifup-eth1` file with `NM_CONTROLLED=yes` would sort this out for using the NetworkManager to bring up the network interfaces.

Issuing `service network restart` brings up the private interface although the following shows up in /var/log/messages

[code]

Looking at

[2017-01-06 13:53] lucabelluccini commented on #8096
Is it a regression of https://github.com/mitchellh/vagrant/issues/7791 ?

[2017-01-06 14:25] Tatsh commented on #8174
Make it so your co-workers can SSH into your machine but only run `vagrant` or even `vagrant up` with a script. In your ~/.ssh/authorized_keys:

[code]

Instead of `/full/path/to/vagrant` you can use a different executable file, and put something like:

[code]

to restrict the command to only `vagrant up`.

[2017-01-06 15:12] COLABORATI opened #8177 "Ubuntu 16.04 - vagrant still hangs on mounting nfs shares"
Freshly installed Ubuntu 16.04 - new Virtualbox 5.1.12 from their repos - vagrant still hangs on mounting nfs shares. yes, I tried the bento box, no difference. Sometimes it works on the first time, but usually it hangs. nfs-kernel-server is installed, of course, and runs and has no problems with real boxes. No fun.

[code]

[2017-01-06 15:13] chrispelzer commented on #8147
I upgraded to vagrant 1.9.1 (also on macOS Sierra) and started experiencing this issue but with 2 different gems than the OP.

[code]

Running `gem pristine hitimes --version 1.2.4` will result with:
[code]

Installing either gem to the version it asks for doesn't work either.

Looking at the gems within the folder `/opt/vagrant/embedded/gems/gems` shows the gems not there.

I haven't noticed any

[2017-01-06 16:25] wallraks commented on #6059
I got the same problem but I only restarted VirtualBox by restarting the whole machine and repeated the same process and it worked

[2017-01-06 16:51] babilen commented on #7392
Unfortunately salt still doesn't install if ca-certificates aren't installed and one has to include something like `config.vm.provision "shell", inline: "apt-get update; apt-get -qq install ca-certificates curl"`  in the `Vagrantfile`.

[2017-01-06 17:26] sbleon commented on #8125
I had this problem as well, but I found a workaround. TL;DR: uninstall and reinstall vagrant.

Here's the full sequence of what I did.

1. Upgraded to macOS Sierra.
2. vagrant tried to install Virtualbox on `vagrant up`, even though I already had it and it was working.
3. I reinstalled vagrant.
4. I got the "No live threads left" error.
5. I uninstalled vagrant (using the uninstall script on the i

[2017-01-06 18:31] marrrt commented on #8166
The `NM_CONTROLLED=yes` or commented out seems to do the trick for me for the network to come up.

[2017-01-06 20:05] maniarab commented on #8125
I had the same issue with the following version combinations:
OS: OS X El Capitan (10.11.6)
Vagrant: 1.9.1
Virtualbox: 5.0.30
Ruby: 2.3.3p222 (2016-11-21 revision 56859) [x86_64-darwin15]

![image](https://cloud.githubusercontent.com/assets/8727756/21731111/a9d1bed4-d407-11e6-9c97-4ed83b992831.png)

What ended up working for me was the following combination:
OS: OS X El Capitan (10.11.6)
**Vagrant

[2017-01-06 23:07] lantz commented on #8061
Submitted radar id 28927426 on bugreport.apple.com

[2017-01-07 02:21] LukeCarrier commented on #7849
Ouch, I just ran in to this one :fearful:

It's worth noting that PowerShell is [now available for Linux](https://github.com/PowerShell/PowerShell/tree/master/docs/installation).

I've not tested remoting support from a Linux host, but I'm happy to have a go at implementing this. Looking at the `powershell` and `ssh` commands, it appears the most correct way to accommodate multiple platforms would

[2017-01-07 11:55] guilhemmarchand commented on #5590
Hi, same issue experienced here, all CentOS 7.x box affected, host Ubuntu 16.10 and vagrant 1.9.1
Using Ansible with network manager restart workaround fixes unless the host is rebooted.

[2017-01-07 18:01] bgrrtt commented on #2969
@DevJackSmith just happened to me.

[2017-01-07 23:46] leighmcculloch commented on #7731
I'm solving this problem by using a simple six line `.bat` file to wrap ssh commands in a call to `bash.exe -c`.

Grab `ssh.bat` file from https://github.com/leighmcculloch/windows-10-bash-aliases and stick it anywhere in your system `PATH` and `vagrant ssh` will work.

[2017-01-08 02:41] neilbryson commented on #8166
The private network of my Oracle Linux Vagrant box just randomly stopped working on v1.9.1. It was alright a few days ago but it just decided to stop working. Restarting the network service brings up the private network interface but I still cannot connect into it from my host machine.

Can confirm this issue does not occur when I downgraded to v1.8.7.

[2017-01-08 11:10] islamhathout opened #8178 "Ubuntu 16.04: vagrant up --no-parallel errors"
### Vagrant version
Vagrant 1.9.1

### Host operating system
Ubuntu 16.04

I was following scrapy book that uses vagrant, but after running vagrant up --no-parallel there was an error each time i ran it the last error's number is "104" Is there any solutions ?

Moreover, i decided to follow the link:
https://atlas.hashicorp.com/lookfwd/boxes/scrapybook/versions/1.0.0/providers/virtualbox.box
 and

[2017-01-09 06:51] trappar commented on #8147
The gems are located inside the `~/.vagrant.d` directory (can't remember the exact location off the top of my head). I've tried everything I can think of to run commands against that location but nothing works.

[2017-01-09 07:21] umesh1989 commented on #5186
I had this issue while running vagrant up from apache metron I was using 1.8.5 vagrant, however using 1.9 resolved this

[2017-01-09 10:41] richard-scott commented on #8177
Do you have Ubuntu Livepatch setup on that box?
I have had the same issue, and had to remove livepatch to get Vagrant to mount NFS shares.
Initial attempts with Vagrant v1.9.1 are looking better than v1.9.0

[2017-01-09 10:43] richard-scott commented on #8177
I also seem to remember that I found restarting 'rpcbind' before starting a VM seemed to help, but that may have been the late time of the day that I was attempting to diagnose this.

[2017-01-09 10:51] honzabazant commented on #8061
Just leaving my 2 cents here...
I also ran into the same nfs permission issues. I use Docker with macOS as host, some directories are mounted in the guest via nfs. In macOS 10.12 everything was fine for me but troubles began when I upgraded to 10.12.1. Current version 10.12.2 still has the problem. I also tried to reinstall macOS but it did not help.

I also used Wireshark on macOS to capture NFS

[2017-01-09 10:53] richard-scott commented on #8149
Did you try using it via sudo??

[code]

Otherwise your 'vagrant' user doens't have permissions for it.

[2017-01-09 10:59] richard-scott commented on #8144
Have you tried typing 'reset' after your 'vagrant up' command.
That will reset your console.

[2017-01-09 11:05] jenhsun commented on #8149
@richard-scott without provision, vagrant is useless. It's the key to @hotmeatballsoup problem.

[2017-01-09 11:44] beddari commented on #5850
@PierrePaul That comment is not warranted - you are making yourself look bad. It is clearly stated that this feature is something they'd be open to add but that they are not working on it right now.

[2017-01-09 16:09] eoli3n opened #8179 "sync folder : access denied by the server"
### Vagrant version
Vagrant 1.9.0

### Host operating system
Debian stretch
[code]

### Guest operating system
debian/jessie64 with libvirt provider

### Vagrantfile

~/.vagrant.d/Vagrantfile
[code]

VM vagrantfile
[code]

and for nfs4 try

[code]

### Debug output
nfs3 : https://gist.github.com/eoli3n/3d875e740ea4790523d63295a3cad9bd
nfs4 : https://gist.github.com/eoli3n/b19b65740d5f68d387ed2886b

[2017-01-09 16:11] lucabelluccini opened #8180 "Unable to ssh to vm if I specify virtualbox provider (multi vm)"
### Vagrant version
Vagrant 1.9.1

### Host operating system
Windows 7 64bit

### Guest operating system
Centos 6.7

### Vagrantfile
Note, this is a semplified version of my original Vagrantfile, but should reproduce the issue.

[code]

### Debug output
WARNING! BIG FILE AHEAD
https://gist.github.com/lucabelluccini/d5293f38a177eac2868fbe49b5901eb0

### Expected behavior
Create all the VMs and fina

[2017-01-09 16:30] chrisroberts commented on #8174
Hi there,

Thank you for opening an issue! We do our best to keep the issue tracker reserved for bug reports and feature requests. For general usage questions or instructions, we ask users to utilize the community resources like the [Vagrant mailing list](https://groups.google.com/forum/#!forum/vagrant-up). There are many more people who will be able to get you a faster answer there. Thank you and

[2017-01-09 16:30] #8174 closed

[2017-01-09 16:32] chrisroberts commented on #8166
Fixed via #8148. Thanks for the report!

[2017-01-09 16:32] #8166 closed

[2017-01-09 16:34] utdrmac commented on #8166
Same experience. I have the following configured:
`node_config.vm.network :private_network, ip: local_vm_ip, adaptor: 2`

eth0 comes up fine with 10.0.2.15. eth1 is configured under /etc/sysconfig/.../ifcfg-eth1 with the proper IP, but it does not start when system boots.

Virtualbox 5.1.12
Vagrant 1.9.1
MacOS 10.12.2
CentOs 7.3.1611

[2017-01-09 16:35] chrisroberts commented on #8142
Fixed via #8148. Thanks for the report!

[2017-01-09 16:35] #8142 closed

[2017-01-09 16:40] chrisroberts commented on #8149
@hotmeatballsoup As @richard-scott pointed out, you need to use `sudo` as the vagrant user does not have access reload nginx directly. It must be done as root, thus you must use `sudo`:

[code]

That is the expected behavior and not indicative of an issue with vagrant or nginx. Cheers!

[2017-01-09 16:40] #8149 closed

[2017-01-09 16:53] utdrmac commented on #8142
Been banging my head against the wall all weekend trying to figure out why my eth1 would not start on `vagrant up`; now i know why. I manually applied the changes here https://github.com/mitchellh/vagrant/pull/8148/files and all works again. thanks!

[2017-01-09 17:56] chrisroberts commented on #8152
@neykov Hi! I've tried to reproduce this locally and have been unsuccessful. It seems like there may have been VMs already running when you made your Vagrantfile modifications. If you move this Vagrantfile into a new directory, do you experience the same behavior?

[2017-01-09 18:00] chrisroberts commented on #8178
Hi there,

Thank you for opening an issue. However, there is not enough information here to reproduce or provide a recommendation. When you first open an issue, a template is pre-filled in the box. That template provides instructions for getting your host and guest information, the version of Vagrant, and the debug output. Without that information, it is very challenging for us to assist you.

Ple

[2017-01-09 19:17] neykov commented on #8152
Can't reproduce it now. I probably had some leftover state from previous runs. Still would be nice if I had an error/warning shown instead of this undefined behaviour.

Feel free to close.

[2017-01-09 19:25] wstaples commented on #8126
Everything was working fine until I installed `vagrant plugin install vagrant-vbguest` then I started getting this error. The above solution for #8127 works as a fix. I do use the vagrant-bershelf plugin. Windows 7, vagrant 1.8.7, Virtualbox 5.1.10 r112026 (Qt5.6.2)

[2017-01-09 19:52] darxriggs commented on #7368
@chrisroberts Could you please reopen this issue as it is not yet fixed?

[2017-01-09 21:59] richard-scott commented on #8177
ok, an upgrade to Vagrant v1.9.1 didn't help. it seems that restarting rpcbind was the fix for me.

[2017-01-09 22:34] corysimmons commented on #1534
Just reiterating @faviouz [original comment](https://github.com/mitchellh/vagrant/issues/1534#issuecomment-34242441) for the thumbs up karma.

`sudo apt-get install nfs-common nfs-kernel-server`

[2017-01-10 00:36] yoshiwaan commented on #5850
Is it still on a backlog somewhere if the issue is closed?

[2017-01-10 01:43] ppostma1 commented on #7642
quick hack if you are facing the problem at the moment: start another terminal in the same vagrant directory. vagrant ssh (user is vagrant, pass is vagrant) edit the .ssh/authorized_keys to have the key you need to get in (the real default key, or your rsa_pub) and chmod the file w/ go-rxw (drop group and other access to the file!). The ssh server will then read the file and correctly complete the

[2017-01-10 09:28] banchy opened #8182 "No usable default provider could be found for your vagrant-1.9.1, virtualbox-5.1.8, Centos7 host"
Please note that the Vagrant issue tracker is reserved for bug reports and
enhancements. For general usage questions, please use the Vagrant mailing list:
https://groups.google.com/forum/#!forum/vagrant-up. Thank you!

### Vagrant version
1.9.1

### Host operating system
Windows 7 Enterprise SP1

### Guest operating system
Centos 7

### Vagrantfile
[code]

Please note, if you are using Homestead o

[2017-01-10 10:06] ilmarioranen commented on #5424
Indeed, I've lost too much time trying to get NFS mounts working on my setup, which is:
Mac OS Sierra, Virtualbox 5.1, Vagrant 1.9.1, Ansible 2.2.0. I also happen to use [WunderTools](https://github.com/wunderkraut/WunderTools) which depends on @geerlingguy :s Drupal VM.

I got help from the mastermind behind WunderTools, and as said in it's readme, downgrading to Vagrant 1.9.0 finally solved the

[2017-01-10 10:10] ilmarioranen commented on #8138
I've lost too much time trying to get NFS mounts working on my new setup, which was:
Mac OS Sierra, Virtualbox 5.1, Vagrant 1.9.1, Ansible 2.2.0.
I also happen to use [WunderTools](https://github.com/wunderkraut/WunderTools).

As the WunderTools readme advises, downgrading to Vagrant 1.9.0 solves the mounting issue. Phew!

I hope Vagrant 1.9.2 will bring the proper solution to this issue.

[2017-01-10 10:37] nilsga commented on #8138
Same here. Had to downgrade to 1.9.0 to get it working.

[2017-01-10 12:31] mmack commented on #7619
:+1: The solution with the symlink would work if only vagrant would keep generating the inventory file if i manually specify the inventory_path. So one could create a symlink inside his inventory_path to the vagrant's inventory file. He's now able to do more than only the inventroy (like group_vars) inside the inventory path.

[2017-01-10 15:31] bgblanch commented on #7665
Still no luck with Vagrant 1.9.1 and Virtualbox 5.1.12

==> rac1: Importing base box 'bento/centos-7.2'...
==> rac1: Matching MAC address for NAT networking...
==> rac1: Checking if box 'bento/centos-7.2' is up to date...
==> rac1: Setting the name of the VM: rac1
==> rac1: Clearing any previously set network interfaces...
==> rac1: Preparing network interfaces based on configuration...
    rac1:

[2017-01-10 16:21] igieon commented on #7995
What happens from us is that we use centos 7.3 and what is problem with privet_network
configuration is:
 cat /etc/sysconfig/network-scripts/ifcfg-enp0s8
[code]

and from log vagrant wants to reload configuration via networkmanager but puts
`NM_CONTROLLED=no` so centos networkManager ignores it.

[2017-01-10 17:34] seth-reeser commented on #6598
For all others that end up here, this was fixed in v1.8.6 which was released September 27th, 2016.

v1.8.1 (released December 24, 2015) "fixed" yet still incorrect:
`return path if path =~ /^[a-zA-Z]:\\?$/`
https://github.com/mitchellh/vagrant/blob/v1.8.1/lib/vagrant/util/platform.rb#L191

_...insert 8 months of frustrated Windows users here :grimacing:..._

v1.8.6 (released September 27th, 2016)

[2017-01-10 17:45] joshlopes commented on #8061
I can confirm that on Sierra, setting "Everyone" to "Read and Write" fixed the problem permanently. Probably not the most correct, but it helps!

[2017-01-10 18:07] ekka21 commented on #8138
Downgrade to v1.9.0 worked for me as well.
Here what I did:
- Bring a VM down with `vagrant halt`
- Download and install [v1.9.0](https://releases.hashicorp.com/vagrant/1.9.0/) (no need to uninstall v1.9.1)
- Bring it back up with `vagrant up`

Link to [Vagrant Archives](https://releases.hashicorp.com/vagrant/).

[2017-01-10 19:58] mowings commented on #6360
Just a note -- you can get some temporary relief from this issue by running ls -laR <export_dir> on the osx host. This seems to do some kind of cache invalidation on the osx host, and will fix the delete issue -- at least until it reoccurs. This definitely a sierra issue.

[2017-01-10 23:51] tonylambiris commented on #8096
@mvolhontseff I don't understand the point of reinventing the wheel when this is already handled by RHEL network scripts:
[code]

[code]

[code]

@Artistan can you add this to your vagrant file and git it a try (replace X with interface #)?
`config.vm.provision "shell", inline: "/sbin/ifup ethX"`

[2017-01-11 01:39] astephensen commented on #8138
Experienced the same issue here. If anyone is using `brew cask` to install vagrant you can easily rollback by installing the 1.9.0 commit.

[code]

[2017-01-11 05:37] itgou commented on #2607
It is the virtual Box  compatibility problem.
I found the solution finally.

find the file VBoxManage.exe in virtualBox installation menu, right click it and select property, change to maybe compatibility label, and select Windows Server 2008, save, reuse vagrant up, no wrong anymore.

notice: my windows is chinese version, I google translate to get compatibility name , maybe not accurate.
my syst

[2017-01-11 07:55] cytopia opened #8183 "Rsync error with `PubkeyAuthentication no` in ~/.ssh/config"
If you have set `PubkeyAuthentication no` in `~/.ssh/config`, the rsync command to sync folders fails:

[code]

### Vagrant version
Vagrant 1.8.1

### Host operating system
Debian Jessie

### Guest operating system
Debian Jessi on VirtualBox

### Vagrantfile
[code]

### Debug output
Provide a link to a GitHub Gist containing the complete debug output:
https://www.vagrantup.com/docs/other/debugging

[2017-01-11 09:48] jhernand opened #8184 "The .pc files inside RPM packages contain incorrect 'prefix', pointing to '/vagrant-substrate'"
### Vagrant version

Vagrant 1.9.1, installed using the CentOS RPM:

[code]

### Host operating system

CentOS 7.

### Guest operating system

Not relevant.

### Vagrantfile

Not relevant.

### Debug output

See the references.

### Expected behavior

The `.pc` files included in the Vagrant packages should contain a `prefix` variable pointing to the actual location where they are installed. For ex

[2017-01-11 12:39] ElvenSpellmaker opened #8185 "Missing Gem `logging` for Windows Vagrant 1.9.1"
### Vagrant version
1.9.0
1.9.1

### Last Known Working Version
1.8.7

### Host operating system
Windows

### Debug output
[code]

`--debug` give NO extra information, when using `VAGRANT_LOG=info vagrant --debug`

### Expected behavior
vagrant works.

### Actual behavior
vagrant complains about a missing gem even after using the command shown for removing files.

### Steps to reproduce
1. Install

[2017-01-11 13:05] peterdragon commented on #8147
+1
$ vagrant version
Ignoring hitimes-1.2.4 because its extensions are not built.  Try: gem pristine hitimes --version 1.2.4
Ignoring nio4r-2.0.0 because its extensions are not built.  Try: gem pristine nio4r --version 2.0.0
Installed Version: 1.9.1
Latest Version: 1.9.1

$ rbenv versions
  system
  2.2.3
* 2.3.1 (set by /Users/peter/.rbenv/version)

$ ls ~/.vagrant.d/gems/2.2.5/extensions/x86_64-

[2017-01-11 13:23] beaudryj opened #8186 "Issues with VBOX and Windows Server Audio"
Please note that the Vagrant issue tracker is reserved for bug reports and
enhancements. For general usage questions, please use the Vagrant mailing list:
https://groups.google.com/forum/#!forum/vagrant-up. Thank you!

### Vagrant version
1.9.1
### Host operating system
Windows Server 2016

### Guest operating system
Windows Server 2016

### Notes

I have found that my `Vagrant Up`s have been gett

[2017-01-11 15:34] chrispelzer commented on #8147
@peterdragon Do you use the plugin vagrant-dns?

Those 2 gems for me only show up if I have vagrant-dns installed. The issue is on the plugin not being up to date (last commit was 3 years ago) to work with the bundler changes on vagrant 1.9.0+

There is an issue on the repo, but not sure if the package is maintained anymore. https://github.com/BerlinVagrant/vagrant-dns/issues/46

I might have to s

[2017-01-11 16:50] andronat commented on #8138
Is this #8148 fixing our issue here? Is it going to be released in `1.9.2`?

[2017-01-11 17:56] ehernandez-xk commented on #6426
Hi, I still having the same problem, I tried different options you posted.

macOS Sierra 10.12.2
VirtualBox version: 5.1.12
Vagrant: 1.9.1
custom boot2docker from 1.12.6

I recently updated from vagrant 1.8.6 and VB 5.1.6

Any idea?

[2017-01-11 19:27] skyzyx opened #8187 ""[…] the ports in the auto-correction range are all also used.""
This is a new one for me. I know about auto-correcting ports, but apparently the range has run out and I don’t know how to reset the pointer back to the beginning of the auto-correction range.

This is an existing Vagrant configuration (`Vagrantfile`, VMware provider, Vagrant version, host OS, etc.) that I've been using for months… as recently as this morning.

### Vagrant version

Encountered err

[2017-01-11 19:31] skyzyx commented on #8187
Attempted the same thing with a newer Ruby (2.4.0 from RVM), a simplified `Vagrantfile`, and the _official_ CentOS 7 image.

#### Vagrantfile

[code]

#### Output

[code]

[2017-01-11 19:43] skyzyx commented on #8187
Using the _thinner_ `Vagrantfile`, I tried it again with a different provider in an attempt to rule that out.

[code]

[2017-01-11 21:59] kikitux commented on #8187
Hello

Can you run this command:

[code]

If you think some of those environments are gone, you can try then:

[code]

And try again.

That should clean up the used/mapped ports.

[2017-01-11 22:07] kikitux commented on #8186
Hello

The guest VM should not have USB/Audio, etc

If updating the base box is not an option, you can use Vagrant capability to run VBoxManage commands. Those are run before the machine is started, so can be used to configure the VM.

The process is a bit of trial error, so please use this as general instructions.

run `VBoxManage list vms`

get information about the VM you want to update, grab t

[2017-01-11 22:07] #8186 closed

[2017-01-11 22:07] kikitux commented on #8186
Feel free to open if you think this is a bug, otherwise, happy to follow up over the mailing list.

[2017-01-11 22:08] skyzyx commented on #8187
I managed to work this out, and think this may be an opportunity for Vagrant to be improved to clean-up after itself a little better in the future.

1. Nuke the Vagrant VM:

[code]

2. The ports and port mappings appear to be stored (and not cleaned-up) in these files:

[code]

3. Launch the UI for VMware Fusion to re-write the files we just deleted.

[code]

4. `vagrant up` works again.

[2017-01-11 22:08] #8187 closed

[2017-01-12 00:38] kikitux commented on #8185
Hello

Not sure from where, but its seem something hardcoded to vagrant 1.6.3 on that output.

Can you ensure you are on current version:

[code]

And please try with precise64 box.

[code]

[2017-01-12 00:50] kikitux commented on #8182
Hello

After the installation of Vagrant, a reboot is required.

Could you please do this:

- reboot
- run vagrant as:

vagrant up --debug

and share a gist to the log file

[2017-01-12 01:03] kikitux commented on #8161
@devloprs wheres the gist ?

[2017-01-12 01:03] #8161 closed

[2017-01-12 01:05] kikitux commented on #8154
Hello.

Can you try with Vagrant 1.9.1 ?

[2017-01-12 01:05] #8154 closed

[2017-01-12 01:08] kikitux commented on #8151
Hello.

Can you elaborate more?

What kind of errors you are aiming to find with this?

You could aim to build a plugin first, and see how things go

[2017-01-12 01:19] kikitux commented on #8180
this works:

[code]

[2017-01-12 01:21] kikitux commented on #8180
notes.

I did comment out the portfwd on ssh, those are not neeed.

if you want to fwd ports so you or some other app can ssh to a known port, better add a new port fwd, or use the private network.

Check the name of the disk, you had a colission there.

and, there is an issue on virtualbox, that the disk controllers are not the same name

ie.

if you build windows/linux/osx the name can change

I

[2017-01-12 01:21] #8180 closed

[2017-01-12 01:27] #8152 closed

[2017-01-12 01:29] #8178 closed

[2017-01-12 07:40] taliesins opened #8189 "Verify shell incorrectly uses host level shell for guest shell"
We are making a check to see that shell is available in ssh. When we make this check we are not setting a shell to use.
https://github.com/mitchellh/vagrant/blob/master/plugins/communicators/ssh/communicator.rb#L139

This results in the following being called with `nil` parameter which results in us using `@machine.config.ssh.shell` for default shell on guest.
https://github.com/mitchellh/vagrant/

[2017-01-12 08:48] banchy commented on #8182
Hello, Thank you for jumping in.
Here is scenario:
- my physical desktop running Windows 8
- on Windows 8, I have installed ONLY Virtual Box 5.1
- then on VirtualBox I installed CentOS
- and on CentOS I have installed Vagrant and Ansible ( I didn't install any VirtualBox plugin)
My plan is to use mentioned CentOS as management machine to push new VMs with Vagrant and Ansible. With this scenario I

[2017-01-12 09:52] kikitux commented on #8189
How are you connecting to Windows?

Vagrant use whats available once the connection happen.

ie. if you use ssh and gets into a cmd.exe

then bat works
if you want powershell you can wrap a call.

[2017-01-12 09:54] kikitux commented on #8182
Virtualbox doesnt allow nested VMs that are 64 bits.

If you create a 32bit VM, you can run virtualbox there and run 32bit vms nested.

its a Virtualbox limitation, so closing since its not a vagrant bug.

You a very welcome to use the mailing list to follow up this, but closing since not a bug.

[2017-01-12 09:54] #8182 closed

[2017-01-12 11:07] eoli3n commented on #4487
Need it too with virtualbox provider.

[2017-01-12 11:56] bitozoid commented on #8125
Does not work on linux:
- vagrant 1.9.1
- virtualbox 5.1.10
- ruby 2.1.0

Works downgrading vagrant to 1.8.7.

[2017-01-12 12:27] mschuchard commented on #8151
Say I have some trivial Vagrantfile:

[code]

I will not know I have made a mistake until I perform a `vagrant` command. This is really annoying for me. If the validation code was exposed to the CLI, then people could easily develop tools for vim, Atom, Sublime, etc. to instantly know when mistakes are made. Also, having a CLI to validate Vagrantfiles could be useful in other scenarios such as CI.

[2017-01-12 12:30] myoung34 opened #8190 "Warnings during third party plugin usage with external dependencies"
### Vagrant version
1.9.1

### Host operating system
OSX Sierra (`Darwin Admins-MBP 16.1.0 Darwin Kernel Version 16.1.0: Thu Oct 13 21:26:57 PDT 2016; root:xnu-3789.21.3~60/RELEASE_X86_64 x86_64`)

Centos 7

### Guest operating system
unrelated

### Vagrantfile
[code]

### Debug output
[code]

All vagrant commands (up, halt, destroy, etc) include a warning:

[code]

[2017-01-12 13:00] simoninkin commented on #6865
Hi, are there any updates on this? It's been a year now...

[2017-01-12 15:11] toddlers commented on #7350
I solved this via

[code]

[2017-01-12 15:24] chrisroberts commented on #8125
I am still working on getting a local repro of this so I can track down the problem. Thank you everyone for the information provided. Anyone else encountering this error, please post your host OS and version, Vagrant version and Ruby version if not running from the official Vagrant installer.

@sbleon What version of Vagrant were you upgrading from when the issue presented?

[2017-01-12 15:55] beaudryj commented on #8186
good to know
[code]

Also the issue turned out to be I needed to force headless mode

[2017-01-12 17:11] PlasmaPower commented on #7657
Try a newer version of Vagrant. I think it's been fixed since 1.8.6.

[2017-01-12 17:29] martinlanglois commented on #3118
@mylonasg88 that solution worked for me too, but like you said, it is painfully slow... I mean it won't work after hitting 3 pages...

[2017-01-12 17:42] martinlanglois commented on #3118
@mylonasg88  I reverted to 1.8.7 and it seems to have fixed it .
( using vBox 5.1.10 ) on mac OSX serria

[2017-01-12 21:07] apquinn commented on #8123
I have the same issue

[2017-01-12 21:27] mlh758 commented on #8126
This also happens to me with the [Berkshelf](https://github.com/berkshelf/vagrant-berkshelf) plugin.

I'm using Vagrant 1.9.1 and Windows 7.

Virtual Box Version 5.1.12 r112440 (Qt5.6.2)

[2017-01-12 22:14] bryantAXS commented on #8016
Also having this issue

[2017-01-12 22:59] nyov opened #8197 "Bad SSL cert for atlas.hashi.co"
While trying to figure out why `vagrant box add "hashicorp/precise64"` wouldn't work for me, I found through tcpdump that vagrant tries to access `atlas.hashi.co`, not `atlas.hashicorp.com`:

[code]

Opening that URL in a browser or through curl, I get a certificate error.

[code]

[2017-01-12 23:18] chrisroberts commented on #8197
@nyov Would you please create a gist of the output from:

[code]

Thanks!

[2017-01-12 23:59] imincik commented on #8016
I also hit that issue now

[2017-01-13 00:14] taliesins commented on #8189
@kikitux hi :)

I am on a Windows host connecting to FreeBsd guest.

When you ssh into FreeBsd you would expect to use sh shell via ssh. At the moment vagrant is sshing in and using the default shell then attempting to run cmd as I configured ssh.shell=cmd

It is a happy coincidence that this works in most places. Default is to use bash. So host will ssh into guest and use default shell of guest t

[2017-01-13 00:37] nyov commented on #8197
Ah, that `--debug` command should be documented. That would have helped.

I had a curl wrapper enabled that didn't work out with the arguments vagrant called it with.
My fault entirely. And I noticed the url to hashi.co was only the IP reverse resolution of tcpdump.

Sorry for the noise.
(But adding that `--debug` command to the cli help output would be nice)

[2017-01-13 03:32] jamestyrrell commented on #8061
+1 This bug sucks

[2017-01-13 03:32] #8197 closed

[2017-01-13 06:52] szabgab opened #8199 "Checking for newer version of Vagrant and VirtualBox"
When running `vagrant up` it would be nice if we got a report about newer versions of Vagrant itself and if possible also newer versions of VirtualBox (or whatever provider is being used).

I used to have Vagrant 1.7.4 on OSX and while I was constantly reminded that I could upgrade
the box to a newer version of 'ubuntu/xenial64' I just realized I have not upgraded either Vagrant of VirtualBox for

[2017-01-13 07:42] grassjedi commented on #5319
Wow! Downloading boxes is painful please fix this. PLEASE?

[2017-01-13 08:15] banchy commented on #8182
Thanks a lot !

[2017-01-13 08:15] ascotan opened #8200 "VMware plugin does not detect VMs with static IPs allocated via dhcpd.conf"
### Vagrant version
Vagrant 1.9.1
vagrant-share (1.1.6, system)
vagrant-vmware-fusion (4.0.15)

### Host operating system
MacOS Sierra 10.12.2
VMware Fusion Version 8.5.3 (4696910

### Guest operating system
centos/7 from hashicorp

### Vagrantfile
[code]

### Debug output
vagrant up xxx
Bringing machine 'xxx' up with 'vmware_fusion' provider...
==> apis: Cloning VMware VM: 'centos/7'. This can ta

[2017-01-13 11:31] m4ce commented on #8125
Having the same issue..

OS: OSX Sierra
Vagrant: 1.9.1
Virtual Box: 5.0.30 r112061
Ruby: 2.2.6

[2017-01-13 13:17] myoung34 commented on #8184
FWIW the relevant code is [here](https://github.com/mitchellh/vagrant-installers/blob/master/substrate/modules/libxslt/manifests/init.pp)

[2017-01-13 14:04] BRMatt commented on #7913
I think I'm also running into this:

[code]

Looking at the box metadata returned by Atlas, it seems the versions are ordered semantically, from newest -> oldest:

[code]

Looking through the code, it seems there are [several](https://github.com/mitchellh/vagrant/blob/9c299a2a357fcf87f356bb9d56e18a037a53d138/lib/vagrant/box_collection.rb#L282-L283) [places](https://github.com/mitchellh/vagrant/blo

[2017-01-13 16:09] Moncky commented on #8130
Adding my voice to @amacnamara I am also seeing this behaviour on Vagrant 1.8.7 and VMware Fusion 8.5.3.

To work around I am manually clearing out the nat.conf file and restarting vmnet-cli which is a complete pain.

[2017-01-13 18:07] JasonTheAdams commented on #5319
I think it really has to do with time of day, traffic, alignment of the planets, etc. I haven't had slow speeds in a while. It seems very hit or miss. In fact, if it is slow you and start and stop it with the chance of getting a better connection. I'm not sure this is really the fault of the vagrant framework as much as it is the nature of large bottlenecked downloads.

[2017-01-13 23:25] w9n opened #8203 "Box not found"
Hello,
i created a box but Vagrant keeps telling me it does not exist. I do not see any difference to other working boxes. I used this describtion to create a qcow2 box from the official coreos raw disk https://github.com/vagrant-libvirt/vagrant-libvirt/tree/master/example_box

### Vagrant version
Vagrant 1.9.1

### Host operating system
arch linux

### Guest operating system
coreos

### Vagrantfi

[2017-01-14 12:42] nootfly opened #8204 "1.9.1 default: Warning: Authentication failure. Retrying..."
### Vagrant version
Vagrant 1.9.1

### Host operating system
macOs 10.12.2

### Guest operating system
ubuntu/trusty64

### Vagrantfile
[code]

### Debug output
==> default: Forwarding ports...
    default: 22 (guest) => 2222 (host) (adapter 1)
==> default: Booting VM...
==> default: Waiting for machine to boot. This may take a few minutes...
    default: SSH address: 127.0.0.1:2222
    default: S

[2017-01-14 19:42] ibrmora commented on #6911
Updated to Vagrant 1.9.1  and it works too.

[2017-01-14 19:43] mattpollard commented on #7763
We moved to CentOS after Amazon introduced CentOS AMIs in EC2, so I'm no longer working with Red Hat Enterprise Linux boxes in Vagrant on my Mac. However, I just noticed this afternoon that synced folders are working for me now in Vagrant 1.9.1 with `bento/centos-7.3`.

[2017-01-14 20:03] FibreFoX commented on #8157
Same here, running on a more simple setup:

[code]

Will try to use different Vagrant-versions and report back/update this message.

[2017-01-14 20:42] davecb commented on #8140
I have much the same symptoms, encountered when "up" ing a KVM VM containing ubuntu on my Fedora 25 machine.  A test run using the Vagrantfile below produced the attached log.

[vagrant_ubuntu_kvm.txt](https://github.com/mitchellh/vagrant/files/706207/vagrant_ubuntu_kvm.txt)

Feel free to contact me at davecb@spamcop.net if there is anyting I can do to help, like log a run with different settings

[2017-01-14 21:42] FibreFoX commented on #8204
Maybe related to https://github.com/mitchellh/vagrant/issues/8157

[2017-01-14 22:58] nootfly commented on #8204
Bringing machine 'default' up with 'virtualbox' provider...
==> default: Checking if box 'ubuntu/trusty64' is up to date...
==> default: Machine already provisioned. Run `vagrant provision` or use the `--provision`
==> default: flag to force provisioning. Provisioners marked to run always will still run.

~/vagrant/myVM
☺  vagrant ssh

[2017-01-15 00:12] FibreFoX commented on #8157
Same non-working behaiour on Windows 8.1 64bit Pro using Vagrant 1.9.1 with VirtualBox 5.1.4

[2017-01-15 00:24] FibreFoX commented on #8157
[code]
Calling `vagrant up --debug > start.log 2>&1` shows the part above ... is it just me, or is something broken with NAT-communication? Running netstat does not show anything to listen on any interface regarding SSH 22 nor 2222.

[2017-01-15 01:18] FibreFoX commented on #8157
[code]
Seems like the core-problem is virtualbox not being able to forward the ports ... can ANYONE confirm this, maybe this is even on different platforms?

[2017-01-15 06:17] kikitux commented on #8204
@nootfly can you test with box `hashicorp/precise64` ?

We only provide the boxes under hashicorp org in atlas.

If this is an issue with the box, you should try to reach canonical

[2017-01-15 06:26] kikitux commented on #8105
@marcindulak hi!

We only provide the boxes under hashicorp organization in atlas.

Vagrant provide the capability to run VBoxManage commands, however Virtualbox doesn't have a consistent naming between host os / versions.

In some cases the controller includes the name `Controller`, but not always.

Vagrant is executing raw commands to VBoxManage on your behalf, but if the the box doesn't have th

[2017-01-15 06:29] kikitux commented on #8015
@X0o0Z can you share a new gist with `vagrant destroy` ?

[2017-01-15 06:40] kikitux commented on #8010
https://github.com/mitchellh/vagrant/pull/8205

[2017-01-15 06:40] #8010 closed

[2017-01-15 06:44] kikitux commented on #8104
Yes, time by time you get that from VirtualBox.

Issue is still open on upstream, so I will close this ticket since you got a  workaround

[2017-01-15 06:44] #8104 closed

[2017-01-15 06:46] kikitux commented on #8203
Hello

Can you try like this:

[code]

[2017-01-15 06:50] kikitux commented on #8200
@ascotan

Can you comment out or remove this:

[code]

Even if the ip is fixed for the given mac, its still using dhcp

[2017-01-15 06:57] kikitux commented on #8199
Hello @szabgab

`vagrant version` can be used to track that, but not for virtualbox.

Depending on your host os, you can use the OS features to track packages repos.

VirtualBox have repos available for RPM and DEB based linux.
ie:
http://askubuntu.com/questions/276661/how-i-can-properly-update-virtualbox-to-the-latest-version

[2017-01-15 07:11] kikitux commented on #8189
hello.

Sorry, I went to assume you were referring to provisioning.

So, in vagrant you have:

[code]

that is to tell vagrant what shell to use when vagrant connects to the guest.

Can you test with `sh -l` if the default is not working

For multi machine, can you share a sample Vagrantfile that shows the issue?

I personally haven't had the need to have a multi-os multi-machine setup, so a repro

[2017-01-15 07:11] #8185 closed

[2017-01-15 08:35] w9n commented on #8203
Hi @kikitux, same output. I managed to work around by creating a new box from the coreos production iso and packer, but i still would like to know whats wrong here.

[code]
This is my deployment script
[code]
metadata.json
[code]
Vagrantfile
[code]

[2017-01-15 11:04] FibreFoX commented on #8157
@PeterDavidCarter Hi there, does port-forwarding work for you in general? I tried to activate "port forwarding" with a fresh VM without using Vagrant ... and it does not work. Maybe some VirtualBox bug?

[2017-01-15 12:34] vrioche commented on #8204
Same issue here on Ubuntu 16.04 host, after I've tried to launch a packaged ubuntu/trusty64 box. I think the problem isn't box related because every other packaged boxes doesn't work.

[2017-01-15 12:37] FibreFoX commented on #8204
I suspect something is up with virtualbox ... similar problems on https://github.com/mitchellh/vagrant/issues/8157 just with windows host. Seems not box related :(

[2017-01-15 13:18] ascotan commented on #8200
I commented out the 'static' addressType and the VM boots, but the VM is give a DHCP lease with an IP above 128 in the DHCP range. The MAC address is not given to eth0 and therefore the wrong IP is allocated.

[code]

[2017-01-15 15:18] marcindulak commented on #8105
Hi,

I don't think it's a vagrant bug anymore. Actually I submitted the case at https://github.com/redhat-imaging/imagefactory/issues/393 - the problem seems to be not in differences between OS but in the inability of Virtualbox to read different variations of box.ovf - this is where the Controller is defined.
It could well be I need to open a case at Virtualbox too.

[2017-01-15 15:24] ibrmora commented on #8016
I also hit that issue now. Vagrant 1.9.1, Ubuntu 16.04

[2017-01-15 15:40] marcindulak commented on #8105
https://www.virtualbox.org/ticket/16387

[2017-01-15 22:15] n2ygk commented on #6975
@sethvargo This is in fact a bug. Vagrant is setting NM_CONTROLLED=no in the ifcfg-file but then expecting NetManager to bring up the interface.

Here's the snippet from `vagrant --debug up` where it does an `nmcli reload` rather than an `ifup`:
[code]

And here's the content of ifcfg-eth1:
[code]

So of course restarting network manager does nothing.

Workaround is to use a shell provisioner or w

[2017-01-16 09:03] ravishtiwari commented on #5673
@awibmer - I've recently upgraded to _Vagrant 1.9.1_ will confirm if the issue is fixed for me as well.

Thanks

[2017-01-16 10:14] daks commented on #8168
I tried vagrant 1.8.7 and got the same problem

[2017-01-16 13:33] Pupp3tm4st3r opened #8206 "Second network interface down on vagrant up"
### Vagrant version
1.9.1

### Host operating system
Mac OSX 10.11.6

### Guest operating system
CentOS 7.3

### Vagrantfile
Vagrant.configure("2") do |config|

  config.vm.box = "centos-7.3-x86_64.box"

  config.vm.hostname = "xxxxxxxx"
  config.vm.network "private_network", ip: "192.168.33.243"

 #config.vbguest.auto_update = false

  config.ssh.forward_agent = true
  config.ssh.keep_alive = tru

[2017-01-16 14:08] Pupp3tm4st3r commented on #8206
Just tested it with the centos/7 box from vagrant atlas - same behavior.

[2017-01-16 14:34] mcqj commented on #7780
Seeing the same error on with 1.9.1 on Linux. Using apt to install.

[2017-01-16 15:25] jvf commented on #8016
Can confirm the issue on Host: OS X 10.11.6 (El Capitan), Guest: bento/debian-8.6 with Vagrant 1.8.6 and Vagrant 1.9.1.

[2017-01-16 17:11] mauricioabreu commented on #8204
I don't think it is related to the box as @FibreFoX said above.
I use centos/7 box and it happens to me. After fixing this (restarting network, restarting macOS and other random attempts to fix this) it returns to happen.

[2017-01-16 17:15] apsolut commented on #8126
**Win10,
Vagrant 1.9.1,
VVV 1.4.0 (branch:develop),
Ubuntu 14 (trusty64),**
using **vagrant-vbguest** also..
after vagrant up everything is loading fine, then when its almost  done I get:
`C:/HashiCorp/Vagrant/embedded/lib/ruby/2.2.0/json/common.rb:155:in `parse': 776: unexpected token at '' (JSON::ParserError)
        from C:/HashiCorp/Vagrant/embedded/lib/ruby/2.2.0/json/common.rb:155:in `parse'

[2017-01-16 17:56] andrewwutw opened #8207 "Vagrant can't support non-ASCII name network interface in OSX"
In OSX, if I set static IP address in Vagrantfile, vagrant will ask me which network interface to use when running "vagrant up".
If I choose a network interface, whose name is not in ASCII (in my case, the interface name is in Traditional Chinese), vagrant will report error and quit.

Error message :

[code]

(More messages are omitted, see Debug Output)

The first network interface is "1) en4: Th

[2017-01-16 19:16] kikitux commented on #8206
Hello

Seems duplicate of:
https://github.com/mitchellh/vagrant/issues/8166

Fix will be on next version

[2017-01-16 19:16] #8206 closed

[2017-01-16 20:10] dev-kang opened #8208 "vagrant push not working"
Please note that the Vagrant issue tracker is reserved for bug reports and
enhancements. For general usage questions, please use the Vagrant mailing list:
https://groups.google.com/forum/#!forum/vagrant-up. Thank you!

### Vagrant version

Vagrant 1.9.1

### Host operating system

windows 10

### Guest operating system

centos6.8

### Vagrantfile
[code]

### Debug output
$ vagrant --debug push
 IN

[2017-01-16 21:03] Pupp3tm4st3r commented on #8206
oh sorry :( have had searched for it but didn´t found this issue :/

[2017-01-16 21:12] chronon commented on #8130
Same issue for me with Vagrant 1.9.1 and VMware Fusion 8.5.3, though rebooting my Mac seems to allow a VM to boot. When a VM doesn't boot, it hangs at either "Waiting for machine to boot..." or "SSH auth method: private key".

The workaround mentioned by @Moncky usually works for me too:

1. Comment all entries under `[incomingtcp]` in `/Library/Preferences/VMware\ Fusion/vmnet8/nat.conf`
1. `sudo

[2017-01-16 21:27] jeremyltn commented on #1740
Same issue on OSX. After you set the host port to something else in the Vagrantfile, it seems you need to run `vagrant reload` for it to take effect. Works for me now.

[2017-01-16 21:45] mdtisdall commented on #8137
I'm also having the exact same problem. This seems to impact .bat files being used as shell provisioners as well.

[2017-01-16 23:56] jeunito commented on #5673
Upgrading to 1.8.5 solved this for me

[2017-01-17 02:58] geerlingguy commented on #8096
It looks like most people using various CentOS boxes with Vagrant are getting hit by this bug, and I'm starting to get a larger deluge (not just a stream anymore) of people reporting issues with a lot of downstream projects which use my CentOS 7 box ([`geerlingguy.centos7`](https://atlas.hashicorp.com/boxes/search?utf8=✓&sort=&provider=&q=centos+7)) and need private networking with Vagrant, and ha

[2017-01-17 03:02] mikefaille commented on #8096
@geerlingguy Hold on, my fix has been accepted. (:

[2017-01-17 03:14] geerlingguy commented on #8096
@mikefaille - Ah, I totally missed that. So now fingers crossed that 1.9.2 is the next 1.8.6-like release, where things 'just work' on all the different guest OSes again :)

[2017-01-17 06:01] jeremyliu123 opened #8209 "Unable to start vagrant on Win8.1 laptop"
I just start to use vagrant. I followed default installation in C:\HashiCorp\Vagrant on my laptop. After reboot, the Vagrant/bin folder just become empty. I'm not able to use vagrant.

I tried many times with different versions 1.9.1, 1.9.0, 1.8.1 and other installation path. But same issue.

Anybody helps me please!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2017-01-17 15:09] amontalban opened #8210 "vagrant plugin install not working properly in 1.9.1"
### Vagrant version
[code]
### Host operating system
OSX El Capitan

### Expected behaviour
I want to install a custom plugin from custom location https://packagecloud.io/amontalban/vagrant-hostmanager:

`vagrant plugin install vagrant-hostmanager --plugin-clean-sources --plugin-source https://packagecloud.io/amontalban/vagrant-hostmanager --verbose`

### Actual behaviour
[code]

This installs the

[2017-01-17 15:27] aidanharris opened #8211 "Relative Synced Folders should be relative to the Vagrantfile location"
### Vagrant version
Vagrant 1.9.1

### Host operating system
Antergos Linux

### Guest operating system
boxcutter/centos73

### Vagrantfile
N/A

### Debug output
https://gist.github.com/aidanharris/401426dc31483698edaf55aa53e6d74f

### Expected behavior
Relative synced folders should be relative to the Vagrantfile location

### Actual behavior
What actually happened? - See debug output

### Steps

[2017-01-17 15:39] aidanharris commented on #8211
Having just checked again, it was this line in my Vagrantfile that was causing the issue:

`config.vm.provision "file", source: "a/folder/another_folder/a-file.txt", destination: "/tmp/a-file.txt"`

It might not be related to synced folders at all...

[2017-01-17 19:37] alexivkin commented on #8138
This did not fix it for me in 1.9.1. To fix I had to add
              /sbin/ifup '#{network[:device]}'
right after
              nmcli c reload || true
in
/plugins/guests/redhat/cap/configure_networks.rb

[2017-01-17 21:56] mikepsinn commented on #8125
Getting this on
OS: Windows 10
Vagrant: 1.9.1
Virtualbox: 5.1.14

[2017-01-18 05:42] synbaas commented on #2813
In my case, re-installation on oracle vm manager is work for me.

[2017-01-18 13:14] chipka777 opened #8212 "vagrant up (please help)"
### Vagrant version
Vagrant 1.9.1

### Host operating system
Windows 7 x64

### Guest operating system
hashicorp/precise64

### Vagrantfile
https://gist.github.com/chipka777/5405fc939ba8a49fd0dda8c69da897dd

### Debug output
https://gist.github.com/chipka777/73c91fb1a5152bd418609f8593166016
### Expected behavior

first run Vagrant

### Actual behavior
Vagrant no downloads boxes.

### Steps to repr

[2017-01-18 13:36] Abam opened #8213 "Vagrant ssh does not work for docker container in user-defined networks"
When using user-defined networks, vagrant cannot find container IP address. In the [docker provider plugin](https://github.com/mitchellh/vagrant/blob/master/plugins/providers/docker/provider.rb#L135), the `ssh_info` is pulling informations from NetworkSettings.IPAddress which is only populated on default bridge network.

The IPAddress in containers running on user defined networks is  nested in Ne

[2017-01-18 14:15] Redsandro commented on #7648
This probably has something to do that these interfaces are now called e.g. `enp1s0` in stead of `eth1` etc.
The only thing that worked for me is upgrading to the 1.9.x Debian version.

Probably a good idea for Ubuntu users anyway, or they'll have difficulties controlling their blood pressure due to an inability to understand how fixes like e.g. https://github.com/vagrant-libvirt/vagrant-libvirt/i

[2017-01-18 14:44] ascotan commented on #8061
I have the exact same permissions problem, however, I will note that If I run this in VMWare with the VMware-Fusion plugin from vagrant, the NFS mount works correctly.

I have a feeling that this may in fact be a virtualbox problem related to the need for a private network.

[2017-01-18 15:03] gsong commented on #8061
@ascotan For me the problem is inconsistent, have you had constant success with starting/stopping the same VMWare box and have the nfs mount continue to work? With VirtualBox, sometimes it works, sometimes it doesn't. I'm trying out @joshuasmickus's [suggestion](#issuecomment-267095801) to see if it's a medium term workaround, vs. having to do `ls -aLR`.

[2017-01-18 15:13] jfbibeau commented on #8061
FYI @joshlopes workaround does not work longtime, problem always comes back. Only thing that reliably works in this whole thread is the ls -aLr workaround.

[2017-01-18 15:53] SaschaMzH opened #8214 "SMB credential are not used."
### Vagrant version
Vagrant 1.9.1

### Host operating system
Windows 7

### Guest operating system
Ubuntu

### Vagrantfile
[code]

### Expected behavior
Use the credential which are typed into the console during the `vagrant up`.

### Actual behavior
The credentials which are type into the console are not used. Furthermore the local smb share is read and writeable for everyone.

### Steps to repro

[2017-01-18 16:04] n3o77 commented on #8061
I'm also having the same problem with parallels, so probably not related to virtualbox.

[2017-01-18 16:08] rfiedler commented on #3860
In my case only config the my private_network :

**config.vm.network :private_network, ip: "192.168.33.10"**

[2017-01-18 16:31] anthonyblazejack commented on #8056
The first solution @tembra posted worked for me as well.  Thank you!

[2017-01-18 16:35] akaRem commented on #7663
@chrisroberts could you please look at this issue https://github.com/Parallels/vagrant-parallels/issues/269 ?
Mikhail said that this behavior was fixed.

[2017-01-18 16:50] mttjohnson commented on #8061
We are also seeing the problem at our office with several developers running into the issue spastically. We haven't narrowed down how to consistently reproduce it, and have used "ls -aLr" from the host as a temporary workaround.

I'm running MacOS Sierra 10.12.2 (16C67)
Vagrant 1.8.6
VirtualBox 5.0.28 r111378
VM OS - CentOS release 6.8 (Final)
VM NFS Client Flags: rw,relatime,vers=3,rsize=8192,wsi

[2017-01-18 17:47] danielcompton opened #8216 "translation missing: en.vagrant.commands.status.deletingsnapshotlive"
### Vagrant version
Run `vagrant -v` to show the version. If you are not running the latest version
of Vagrant, please upgrade before submitting an issue.

$ vagrant -v
Vagrant 1.9.1

### Host operating system

macOS Sierra 10.12.2

### Guest operating system

`ubuntu/trusty64`

### Steps to reproduce

In one console tab I ran

[code]

in another I ran

[code]

### Expected behavior

Translations

[2017-01-18 19:02] DanHam commented on #7648
This has now been fixed by the Virtualbox team. See the quote below or view the update from scoter-oracle directly [here](https://github.com/mitchellh/packer/issues/3757) (scroll to the bottom of the page).

At the same time the issue will be fixed on 5.0 into the future release 5.0.32.
VirtualBox-team - Oracle

Long and short, if you are seeing this issue, upgrading to the latest and greatest Vir

[2017-01-18 20:24] Redsandro commented on #7648
Thanks @DanHam.

However, since Ubuntu 16.04 LTS will stay at Vagrant `1.8.x` and VirtualBox `5.0.x` for the next 6 years, we need to either get VirtualBox or Vagrant from external repositories until Ubuntu 18.04 LTS is released in 2018.

No problem at home, but managed environments often stick to LTS versions, and SLA's often exclude non-default-repo packages. Hence the never ending but often fut

[2017-01-18 20:24] ascotan commented on #8138
@astephensen you just saved me hours of debugging this.
I've been trying to figure out why this wasn't working for almost an entire day.  Confirmed that 1.9.0 works and 1.9.1 doesn't.
Vagrant 1.9.1, macOS Sierra, Centos 7 guest

[2017-01-18 20:28] ogero commented on #2339
I've just made a Python script that does the VMDK resize and deal with UUID all the way..
But regrettably, it can't be automatically used inside Vagrantfile.. the steps are something like this:
[code]

[2017-01-18 20:40] ascotan commented on #8138
BTW there were not too many commits to 1.9.1. This is the suspicious one:
https://github.com/mitchellh/vagrant/commit/166d10d4e16836e908be0bd94c2f671cac2b38b4

Is this i subtle bug with NetworkManager and NFS mounts?

[2017-01-18 20:45] chrisroberts commented on #8210
Hi! The `--debug` flag is likely what you're looking for, not `--verbose` to get more output on the install process. If you can link a gist of the output generated with the `--debug` flag, that would be great!

[2017-01-18 20:57] amontalban commented on #8210
Hi @chrisroberts,

Thanks for the reply, thanks for the `--debug` flag I guess the help for `vagrant plugin install` needs to be updated because in prior versions I used `--verbose` and gave me at list where it was downloading it from.

Here is the output: https://gist.github.com/amontalban/67983d91625b5ab56ef6647918fb624f

Thanks!

[2017-01-18 22:05] chrisroberts commented on #8212
This looks to be an path encoding issue based on the username.

[2017-01-18 22:14] chrisroberts commented on #8211
The error looks like the result of a temporary value used within the Vagrantfile for testing or as a place holder. I'm going to close this issue for now, but if you are still experiencing the problem, please feel free to re-open and include the Vagrantfile causing the problem and the full debug output using the referenced Vagrantfile. Thanks!